.mdl-card {
  width: 100% !important;
}

.mdl-cell--12-col-tablet {
  @include breakpoint(mobile, tablet) {
    width: 100%;
  }
}

.mdl-layout__header-row {
  height: 64px !important;

  @include breakpoint(tablet) {
    padding: 0 20px;
  }


  &.mdl-layout__header-row--maintenance {
    padding: 0 20px;
  }
}

.mdl-menu {
  .mdl-menu__item {
    height: auto;
    padding: 0;

    a {
      display: block;
      padding: 16px;
      white-space: normal;
    }
  }
}

.mdl-layout__drawer {
  @include z-index(max + 1);
}

.mdl-layout__obfuscator {
  @include z-index(max);
}

.mdl-layout__drawer-button {
  top: 4px;

  @include hidden-print;
  @include breakpoint(tablet) {
    display: none;
  }


  .material-icons {
    font-size: 40px;
    color: #fff;

    @include centered;
  }
}

.mdl-textfield--floating-label {
  .field-prefix {
    display: none;
  }
}

.mdl-spinner {
  position: fixed;
  top: 48.5%;
  left: 49%;

  @include z-index(max);
}

.mdl-grid--center {
  justify-content: center;
}
.mdl-grid--left-offset {
  justify-content: left;
  margin: 0 33%;
}
.join-collection-form,
#block-joinup-theme-local-tasks {
  .mdl-menu__item a {
    white-space: nowrap;
    color: $color-blue-default;
  }

  .mdl-menu__container {
    margin-top: $field-margin;
  }
}

// Fix for iOS overflow issue caused by not respecting % height value
.mdl-layout__container {
  height: auto;
}

.mdl-layout {
  min-height: 100vh;
}

// Fix for Internet Explorer unstretched content section (once empty) and footer overflow issues caused by not respecting the min-height value
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mdl-layout__container {
    height: 100vh;

    .section--header,
    .section--footer {
      flex-shrink: 0;
    }

    .section--featured,
    .section--content {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  body.has-cookie-consent-banner {
    .mdl-layout__container {
      height: auto;
    }
  }
}

.filter {
  .mdl-menu__container {
    max-height: 400px;
    margin-top: 5px;

    &.is-upgraded {
      // Align drop down menu to the left on smaller devices.
      @include breakpoint(sm-mobile, mobile) {
        left: 0 !important;
      }


      .mdl-menu {
        position: relative;
      }
    }
  }

  .mdl-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
  }
}

// Hide visually the original checkbox input to allow the browser validation message to appear properly.
.mdl-checkbox.is-upgraded .mdl-checkbox__input {
  position: absolute;
  top: 20px;
  left: 8px;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  overflow: hidden;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}
