field.formatter.third_party.joinup:
  type: mapping
  label: 'Theme settings for Joinup project.'
  mapping:
    template_suggestion:
      type: string

field.formatter.settings.image_url_formatter:
  type: mapping
  label: 'Image field display format settings'
  mapping:
    image_link:
      type: string
      label: 'Link image to'
    image_style:
      type: string
      label: 'Image style'

field.formatter.settings.daterange_condensed:
  type: field.formatter.settings.datetime_base
  label: 'Condensed date range formatter settings'
  mapping:
    separator:
      type: string
      label: 'Date separator'
    default_format:
      type: date_format
      label: 'Default format'
    day_diff_format:
      type: date_format
      label: 'Different days format'
    month_diff_format:
      type: date_format
      label: 'Different months format'
    year_diff_format:
      type: date_format
      label: 'Different years format'

field.widget.settings.current_workflow_state_widget:
  type: mapping
  label: 'Field widget format settings for the current workflow state field.'
  mapping:
    title:
      type: string
      label: 'The title to use for the field widget.'
    title_display:
      type: string
      label: 'The setting that determines how the field widget title is displayed.'
    show_for_new_entities:
      type: boolean
      label: 'The setting that allows to show the widget on entity creation forms.'

field.widget.settings.state_machine_buttons:
  type: mapping
  label: 'Theme settings for Joinup project.'
  mapping:
    use_transition_label:
      type: integer

facet.widget.config.type:
  type: facet.widget.default_config
  label: 'Search API content listing'
  mapping:
    tabs:
      type: integer
      label: 'Number of tabs'

condition.plugin.request_route:
  type: condition.plugin
  mapping:
    routes:
      type: string
