/*
 * @file
 * Provides the layout styles for layout twocol_60_40.
 */
.joinup-layout--twocol-60-40 {
  display: flex;
  flex-wrap: wrap;
}

.joinup-layout--twocol-60-40 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .joinup-layout--twocol-60-40 > .layout__region--first {
    flex: 0 1 60%;
  }
  .joinup-layout--twocol-60-40 > .layout__region--second {
    flex: 0 1 40%;
  }
}
