.login-menu__button.pseudo-class-hover {
  background: none;
}

.sidebar-menu__link.pseudo-class-hover,
.sidebar-menu__link.pseudo-class-active,
.sidebar-menu__link.pseudo-class-focus {
  background-color: #fff;
  border-left-color: #ee8917;
  font-weight: 600;
}

.listing__fields--bottom-aligned .listing__field.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.tab a.pseudo-class-hover,
.tab a.pseudo-class-focus,
.tab a.pseudo-class-active {
  color: #ee8917;
}

.draggable__icon.pseudo-class-hover,
.draggable__icon.pseudo-class-active,
.draggable__icon.pseudo-class-focus {
  color: #211b38;
}

.details__element.pseudo-class-last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.action-link.pseudo-class-last-of-type {
  margin-right: 0;
}