@font-face {
  font-family: 'WAAT Icons';
  src: url("../images/fonts/waat-icons.eot");
  src: url("../images/fonts/waat-icons.eot?#iefix") format("embedded-opentype"), url("../images/fonts/waat-icons.woff") format("woff"), url("../images/fonts/waat-icons.ttf") format("truetype"), url("../images/fonts/waat-icons.svg#icomoon") format("svg");
}