// Footer
//
// Footer component

// Component
// --------------------------------------------------
.section--footer
  margin-top: auto
  +hidden-print
  .footer__first
    background-color: #c0d0e3
  .footer__second
    background-color: #004494
    padding-top: 10px
    padding-bottom: 5px

