// Content
//
// Content section

// Component
// --------------------------------------------------
.section--content


// Elements
// --------------------------------------------------
.page__title
  margin: 40px 60px

.page__content
  min-height: min-content
  padding: 40px 60px
  background-color: #fff

// Modifiers
// --------------------------------------------------
