// Content
//
// Content section

// Component
// --------------------------------------------------
.section--content

// Elements
// --------------------------------------------------
.page__title
  margin: 0
  letter-spacing: 1px
  +breakpoint(mobile)
  	margin: 40px 60px

.page__content
  min-height: min-content
  padding: 20px
  background-color: #fff
  +breakpoint(mobile)
  	padding: 40px 60px

// Modifiers
// --------------------------------------------------
