# Suites defaults.
.paths: &paths
  - '%paths.base%/tests/features'
.contexts: &contexts
  - Drupal\joinup\Context\BootstrapDrupalContext
  - Drupal\DrupalExtension\Context\DrushContext
  - Drupal\DrupalExtension\Context\MarkupContext
  - Drupal\DrupalExtension\Context\MessageContext
  # Todo: Restore alphabetical ordering for TallinnContext once it is
  # possible to determine the execution order of Behat hooks.
  # Ref. https://github.com/Behat/Behat/issues/62
  # Ref. https://citnet.tech.ec.europa.eu/CITnet/jira/browse/ISAICP-6060
  - Drupal\joinup\Context\TallinnContext
  - Drupal\joinup\Context\AdmsValidatorContext
  - Drupal\joinup\Context\AssetDistributionContext
  - Drupal\joinup\Context\AssetReleaseContext
  - Drupal\joinup\Context\CollectionContext
  - Drupal\joinup\Context\ContactFormContext
  - Drupal\joinup\Context\ContactInformationContext
  - Drupal\joinup\Context\CustomPageContext
  - Drupal\joinup\Context\DigitQaPipelineContext
  - Drupal\joinup\Context\DrupalContext
  - Drupal\joinup\Context\EifContext
  - Drupal\joinup\Context\EuplContext
  - Drupal\joinup\Context\Isa2AnalyticsContext
  - Drupal\joinup\Context\JoinupCommunityContentContext
  - Drupal\joinup\Context\JoinupContext
  - Drupal\joinup\Context\JoinupCoreContext
  - Drupal\joinup\Context\JoinupDiscussionContext
  - Drupal\joinup\Context\JoinupDocumentContext
  - Drupal\joinup\Context\JoinupEuLoginContext
  - Drupal\joinup\Context\JoinupEventContext
  - Drupal\joinup\Context\JoinupFeaturedContext
  - Drupal\joinup\Context\JoinupFrontPageContext
  - Drupal\joinup\Context\JoinupGroupContext
  - Drupal\joinup\Context\JoinupInviteContext
  - Drupal\joinup\Context\JoinupLegalContext
  - Drupal\joinup\Context\JoinupLicenceContext
  - Drupal\joinup\Context\JoinupNewsContext
  - Drupal\joinup\Context\JoinupNewsletterContext
  - Drupal\joinup\Context\JoinupNotificationContext
  - Drupal\joinup\Context\JoinupParagraphsContext
  - Drupal\joinup\Context\JoinupSearchContext
  - Drupal\joinup\Context\JoinupSeoContext
  - Drupal\joinup\Context\JoinupSubscriptionContext
  - Drupal\joinup\Context\JoinupUserContext
  - Drupal\joinup\Context\MinkContext
  - Drupal\joinup\Context\ModerationContext
  - Drupal\joinup\Context\OeNewsroomNewsletterContext
  - Drupal\joinup\Context\OwnerContext
  - Drupal\joinup\Context\RdfEntityProvenanceContext
  - Drupal\joinup\Context\RdfGraphContext
  - Drupal\joinup\Context\RssContext
  - Drupal\joinup\Context\ScreenshotContext:
      localDir: ${behat.screenshots.local.dir}
  - Drupal\joinup\Context\SolutionContext
  - Drupal\joinup\Context\WhatsNewContext
  - Drupal\joinup\Context\WysiwygContext
  - Drupal\Tests\cas_mock_server\Context\CasMockServerContext:
      attributes_map:
        firstName: First name
        lastName: Last name
  - Drupal\Tests\honeypot\Behat\HoneypotContext
  - Drupal\Tests\message_digest\Behat\MessageDigestContext
  - Drupal\Tests\oe_webtools\Behat\WebtoolsETransContext
  - Drupal\Tests\oe_webtools\Behat\WebtoolsMapsContext
  - Drupal\Tests\pipeline\Behat\PipelineContext
  - Drupal\Tests\spdx\Behat\SpdxContext
  - Drupal\joinup\Context\FeatureContext
  - LoversOfBehat\TableExtension\Context\TableContext

# Default profile.
default:
  suites:
    group_a:
      contexts: *contexts
      paths: *paths
      filters:
        tags: '~@wip&&~@javascript&&@group-a'
    group_b:
      contexts: *contexts
      paths: *paths
      filters:
        tags: '~@wip&&~@javascript&&@group-b'
    default:
      contexts: *contexts
      paths: *paths
      filters:
        tags: '~@wip&&~@javascript&&~@group-a&&~@group-b'
    selenium:
      contexts: *contexts
      paths: *paths
      filters:
        tags: '~@wip&&@javascript'
  extensions:
    Drupal\MinkExtension:
      base_url: ${env.DRUPAL_BASE_URL}
      ajax_timeout: 10
      files_path: ${joinup.dir}/tests/fixtures/files
      goutte: ~
      javascript_session: selenium2
      browser_name: ${behat.browser_name}
      selenium2:
        wd_host: ${env.WEBDRIVER_URL}
        capabilities: {"browserName": "chrome", "browser": "chrome", 'chrome': {'switches':['--no-sandbox']}}
    LoversOfBehat\TableExtension:
      table_map:
        'group menu edit table': '#menu-overview'
        'eif recommendations': '.eif-recommendations table'
        'member administration': '.og-members-overview table'
        'member permissions': 'table.form-table__member-permissions'
        'licence comparer': 'table[data-drupal-selector="licence-comparer"]'
        'pipeline log': 'table.joinup-pipeline-log-table'
        'subscribers report': 'table'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      blackbox: ~
      region_map:
        Administration toolbar: '#toolbar-administration'
        Comment: '.comments-section'
        Content listing field filter form: '.field--name-field-content-listing'
        Contact information inline form: '#edit-field-ar-contact-information-wrapper'
        Content: '.section--content-middle'
        Cookie consent banner: '#cookie-consent-banner'
        Entity actions: '.block-joinup-local-tasks-block'
        Footer: '.section--footer'
        Header menu: '#block-joinup-theme-main-menu'
        Header: '.section--featured'
        Left sidebar: '.section--sidebar-left'
        Main solution vertical tab: '#edit-group-main'
        Management solution vertical tab: '#edit-group-management'
        Members admin form header: '#edit-header'
        Members admin form actions: '#edit-action'
        Modal buttons: '.ui-dialog-buttonpane'
        Modal content: '#drupal-modal'
        Modal title: '.ui-dialog-title'
        My unpublished content area: '.block-user-unpublished'
        Navigation menu block: '#block-navigation'
        Navigation menu: 'div.navigation-menu ul'
        Page title: 'div.page__title-wrapper'
        Pager: 'nav.pager'
        Plus button menu: 'div.add-content-menu'
        Primary menu: '.region-primary-menu'
        Related solutions: '.field--name-field-is-related-solutions'
        SevenHeader: '.region-header'
        Table of contents: '#block-table-of-contents'
        Table of contents outline: '#block-toc-outline'
        Unpublished content area: '.block-entity-unpublished'
        Statistics: '#block-statistics'
      drupal:
        drupal_root: ${joinup.site_dir}
      selectors:
        message_selector: '.alert, .messages'
        error_message_selector: '.alert.alert--error, .messages.message--error'
        success_message_selector: '.alert.alert--status, .messages.messages--status'
        warning_message_selector: '.alert.alert--warning, .messages.message--warning'
        login_form_selector: '#user-login-form'
      subcontexts:
        autoload: false
        paths: []
      text:
        log_in: 'Sign in'
        log_out: 'Sign out'
        username_field: 'Email or username'
    FriendsOfBehat\ServiceContainerExtension:
      imports:
        - ${joinup.dir}/vendor/drupaltest/behat-one-time-login/behat.services.yml
  formatters:
    ${behat.formatter.name}: ~
