# Joinup environment variables
#
# Declaring sensitive data in environment variables is an industry standard, as
# it is a very friendly mechanism for configuring the applications on different
# environments and in continuous intergartion flows, as well. Depending on the
# development environment or developer practices, the system environment
# variables can be assigned in different ways, most simple is declaring them in
# the `~/.bashrc` or `~/.zshrc` files on Bash respectively Z shells. But some
# prefer to keep them inside the project's directory tree, as they are project
# specific variables. In order to do so, just copy this file as `local.env` and
# fill the sensitive values. Note that the `local.env` file is not under VCS
# control. Run the `source local.env` command to make the variables available to
# your application.

export ASDA_URL=
export ASDA_USER=
export ASDA_PASSWORD=

export SPARQL_HOST=localhost
export SPARQL_PORT=8890
export SPARQL_USER=dba
export SPARQL_PASSWORD=dba

export SOLR_CORE_PUBLISHED_NAME=drupal_published
export SOLR_CORE_PUBLISHED_URL=http://localhost:8983/solr
export SOLR_CORE_UNPUBLISHED_NAME=drupal_unpublished
export SOLR_CORE_UNPUBLISHED_URL=http://localhost:8983/solr
