[mysqld]
default-storage-engine=innodb
innodb_buffer_pool_size = 2G
innodb_file_per_table
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DSYNC
innodb_log_buffer_size=32M
max_allowed_packet=64M
open-files-limit=2048
bind-address = 0.0.0.0

# Optimisation by https://github.com/major/MySQLTuner-perl
query_cache_size=0
query_cache_type=0
tmp_table_size=32M
max_heap_table_size=32M
innodb_log_file_size=256M
innodb_buffer_pool_instances=2
