default:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\joinup\Context\DrupalContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
      filters:
        tags: '~@wip'
  extensions:
    Behat\MinkExtension:
      base-url: '${behat.base_url}'
      files_path: '${behat.files.path}'
      goutte: ~
      javascript_session: 'selenium2'
      selenium2:
        wd_host: '${behat.webdriver_url}'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      blackbox: ~
      region_map:
        Primary menu: '.region-primary-menu'
        Header: '.section--featured'
        Left sidebar: '.section--sidebar-left'
        Entity actions: '.block-local-tasks-block'
      drupal:
        drupal_root: '${website.drupal.dir}'
      selectors:
        message_selector: '.alert'
        error_message_selector: '.alert.alert--error'
        success_message_selector: '.alert.alert--status'
      subcontexts:
        paths:
          - '${behat.subcontexts.path}'
  formatters:
    ${behat.formatter.name}: ~
