{#
/**
 * @file
 * The eligibility criteria page.
 */
#}
{% trans %}
<div class="eligibility-criteria">
    <p>
        The eligibility criteria for Joinup's interoperability solutions have
        been redefined. The litmus test considers language, licence, relevance,
        quality, Interface &amp; Location (Services) and Unicity of
        interoperability solutions submitted for inclusion in the Joinup
        catalogue. By overhauling the Joinup catalogue qualification process we
        aim to ensure that we list only relevant and reusable solutions in the
        Catalogue. In addition to the criteria, you will also find some
        guidelines below to help you describe the solutions in a way which
        maximises their potential of re-use.
    </p>
    <h2>The criteria</h2>
    <p>
        We use the term solution to refer to services, specifications, and
        software. The Joinup catalogue will only accept solutions that meet
        these criteria:
    </p>
    <dl>
        <dt>Language</dt>
        <dd>
            The solution MUST at least have the description in English. This
            ensures the accessibility of the catalogue in a common language.
        </dd>
        <dt>License or agreement</dt>
        <dd>
            Standards, specifications and software MUST be published under a
            licence. In general, this MUST be an open licence, making the
            solution available free of charge. Some exceptions can be considered
            for endorsed solutions. Endorsement means that the solution is
            funded or recognised by the European Commission or a national public
            administration. It can also be defined as making the use of the
            interoperability solution mandatory or recommended. Services SHOULD
            have some type of agreement (terms of use, SLA).
        </dd>
        <dt>Relevance</dt>
        <dd>
            The Joinup catalogue lists solutions that are relevant for public
            administrations. The solution MUST be, or be planned to be used by
            at least one public administration. The solution provider SHOULD
            explain the link between the solution and a public administration.
            Specifications and standards MUST be endorsed by an EU institution
            or a Member State. Services SHOULD be basic or shared services that
            can be used by a public administration to build a European public
            service.
        </dd>
        <dt>Quality</dt>
        <dd>
            To ensure the basic quality of the interoperability solutions on the
            Joinup catalogue, the solutions MUST be described in conformance to
            the latest official release of <a href="https://joinup.ec.europa.eu/asset/adms/asset_release/adms-application-profile-joinup">ADMS-AP</a>.
            The description SHALL also follow the compliance guidelines defined
            below as closely as possible.
        </dd>
        <dt>Interface</dt>
        <dd>
            Services MUST be provided through digital channels such as
            web-interface, machine-to-machine or other type of digital (stable)
            interfaces.
        </dd>
        <dt>Unicity</dt>
        <dd>
            In as far as possible solutions SHOULD be unique. In specific cases
            for software, duplication can be accepted if it clearly demonstrated
            that the usage is different. Services are duplicates if they are
            provided to the same target group, by the same provider, under the
            same agreement, to the same location, and using the same interface.
        </dd>
        <dt>Location</dt>
        <dd>
            Services MUST at least be applicable at European level. They may be
            provided by National or European administrations.
        </dd>
    </dl>
    <h2>Compliance guidelines</h2>
    <p>
        The description of the solution should be as precise and complete as
        possible and explain how the proposed solution can be reused by
        end-users.
    </p>
    <p>
        Here is a list of aspects that must be explained:
    </p>
    <ul>
        <li>
            <strong>General description:</strong> overview of your solution
            (brief description).
        </li>
        <li>
            <strong>Needs that the solution addresses:</strong> which needs are
            addressed?
        </li>
        <li>
            <strong>Features that the solution implements:</strong> what are the
            main features?
        </li>
        <li>
            <strong>Typical intended audience:</strong> what is the target
            audience(s) of your solutions? Who are the end users?
        </li>
        <li>
            <strong>How to reuse the solution:</strong> how can the intended
            audience re-use your solutions? Which steps should be followed? How
            to begin? Is there any other solutions strongly related and that can
            be used together?
        </li>
        <li>
            <strong>Standards used in the solution:</strong> what international,
            national standard or specification are used within your solution?
        </li>
        <li>
            <strong>Contribution of the solution to a policy:</strong> does your
            solution contribute to a public policy? Was your solution developed
            in the context of a public policy? Is your solution endorsed by an
            EU institution?
        </li>
    </ul>
</div>
{% endtrans %}
