// Section sidebar left
//
// Sidebar component

// Component
// --------------------------------------------------
.section--sidebar-left {
  @include hidden-print;

  &:not(.section--sidebar-left--search) {
    @include breakpoint(xxs, sm) {
      margin: 0;
    }
  }
}

// Elements
// --------------------------------------------------
.section--sidebar-left--search {
  min-width: 208px;

  .section--sidebar-left--search--wrapper {
    background-color: #F4F5F7;
    padding: 5px 20px 20px 20px;

    @include breakpoint(tablet) {
      margin: 16px 0 0 0;
    }


    ul.item-list__checkbox {
      margin-bottom: 10px;

      .mdl-checkbox__label {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        span {
          display: flex;
          flex-direction: column;
          flex-basis: 100%;
          flex: 1;

          &.facet-item__value {
            flex: 2;
          }

          &.facet-item__count {
            text-align: right;
          }
        }
      }
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 5px;
    }

    select {
      width: 100%;
    }
  }
}
