// Header
//
// Header component

// Component
// --------------------------------------------------
.section--header {
  background-color: $color-blue-default;

  @include hidden-print;
}

// Elements
// --------------------------------------------------

// Dependencies
// --------------------------------------------------
.section--header {
  nav {
    position: relative;

    @include z-index(navigation);

    &.block--small-nav {
      @include z-index(header);
    }
  }
  .advanced-search--header {
    display: none;

    @include breakpoint(desktop) {
      display: inline-block;
    }

    padding: 0 3px;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

body.search-page {
  .section--header {
    .advanced-search--header {
      @include breakpoint(desktop) {
        display: none;
      }
    }
  }
}
