{#
/**
 * @file
 * Default theme implementation of a collection's member count.
 *
 * Available variables:
 * - count: the number of members in the collection.
 *
 * @ingroup themeable
 */
#}
{%
    set classes = ['collection-member-count']
%}
<div{{ attributes.addClass(classes) }}>
    {% trans %}
        1 member.
    {% plural count %}
        {{ count }} members.
    {% endtrans %}
</div>
