// Field
//
// Inspired by Drupal 8 Twig field markup.
//
// Markup: html/field.html
//
// default              - Default field
// .field--label-inline - Items inline with label
// .field--margin       - Margin below field
//
// Styleguide 4.6


// Component
// --------------------------------------------------
.field



// Elements
// --------------------------------------------------
.field__label
  font-family: $font-family-sans-condensed
  font-size: $font-size-small
  font-weight: $font-weight
  text-transform: uppercase
  color: $gray-light

.field__items
  font-weight: $font-weight-medium

.field__item



// Modifiers
// --------------------------------------------------
.field--label-inline
  +clearfix()

  .field__label,
  .field__items
    display: inline-block
    float: left

  .field__label
    margin: 2px 5px 0 0


.field--margin
  margin-bottom: 20px
