a.tabledrag-handle .handle
  background: none !important

a.tabledrag-handle
  margin-left: 0 !important
  height: 40px !important

.tabledrag-toggle-weight-wrapper
  display: none

#edit-field-ar-owner-actions.container-inline
  width: 100%
  display: block
  div
    display: inline-block

/* Fix wrapper width in forms with vertical tabs.
.field-group-tabs-wrapper
  width: 100%
