.draggable
  a.tabledrag-handle
    float: none
    height: auto
    margin-left: 0
  .field-multiple-drag
    width: 25px
  .handle,
  .indentation
    display: none

.tabledrag-toggle-weight-wrapper
  display: none

// @todo Remove this hack as part of ISAICP-3021.
// @see https://webgate.ec.europa.eu/CITnet/jira/browse/ISAICP-3021
.joinup-nodrag
  a.tabledrag-handle
    display: none !important

#edit-field-ar-owner-actions.container-inline
  width: 100%
  display: block
  div
    display: inline-block

textarea
  max-width: 100%

.messages
  background-image: none

// Fix wrapper width in forms with vertical tabs.
.field-group-tabs-wrapper
  width: 100%

// Inline entity from styles.
.ief-entity-table
  margin-bottom: 20px
  .form-table__cell
    height: 70px
    padding: 0 15px
  .ief-entity-operations
    margin-bottom: 0

// Styles for multiple field table.
.field--widget-inline-entity-form-complex
  .form-type-select
    display: inline-block
    vertical-align: middle
    margin-right: 30px
    select
      height: 25px
      width: auto
      font-size: 14px
      color: $color-grey-medium
  .button__no-bg-wrapper
    margin-right: 30px

.ief-entity-table>.form-table__body>.form-table__row:nth-child(2)>.form-table__cell
  padding-top: 15px

#block-navigation
  p
    padding-top: 10px
    padding-right: 35px

// Contextual region changes
// Default icon is replaced
.contextual
  +z-index(navigation)
  button.trigger
    font-family: 'WAAT Icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    display: inline-block
    line-height: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: none
    border: none !important
    text-indent: 0
    color: $color-base
    font-size: 0
    padding: 0
    height: 30px !important
    width: 30px !important
    border-radius: 30px !important
    position: relative !important
    &:hover, &:focus
      background: $color-grey-light
    &:before
      +icon-size(15px)
      content: '\e8ab'

// Change contextual button color
// on dark backgrounds
.section--featured, .section--header, .section--footer
  .contextual
    button.trigger
      color: #fff
      &:hover, &:focus
        background-image: none
        background: $color-grey-medium

// Move contextual button to the left
// on pinned tiles.
.listing__card--title-pin
  .contextual
    left: 0
    right: auto
  .contextual .trigger
    float: left
    right: auto
    left: 0
  .contextual .contextual-links
    border-radius: 0 4px 4px 4px
    float: left
    left: 0
    right: auto


ul.contextual-links
  +z-index(highlight+2)
  position: relative
  padding-left: 0
  margin: 0
  li::before
    display: none

.contextual-region.focus
  outline: none
  outline-offset: 0

// Fixes dropdown button for main menu.
// It is needed only for admin.
#block-joinup-theme-main-menu
  .contextual
    +z-index(dropdown)

// Fix password policy table
#password-policy-status
  margin-bottom: $form-margin
  table
    th:first-child, td:first-child
      display: none

.form-type-password-confirm
  margin-bottom: $form-margin
  input.password-confirm
    margin-bottom: $form-margin

.is-only-placeholder
  background: repeating-linear-gradient(-45deg, red, red 25px, rgba(255,255,255,1) 25px, rgba(255,255,255,1) 50px)

.block-local-tasks-block
  +hidden-print

.block-facet--links-inline
  display: inline-block

form .description
  @extend .form__description

// Fix facets in search header
.block-facets
  position: relative

// jQuery ui hacks
.ui-dialog
  +z-index(modal)
  padding: $field-margin
  .ui-dialog-buttonpane
    border: none
    padding: 0 !important
    margin: 0
    .button
      margin: 0
      font-weight: $font-weight-medium
      @extend .button--blue-light

  .ui-widget-content
    padding: 0
    color: $color-base

  .ui-dialog-content
    padding: 0
    margin-bottom: $form-margin
    font-weight: $font-weight-thin
    color: $color-grey-medium
    font-size: $font-size-small
    .form-actions, .button
      margin: 0
    .form__actions_inner
      display: block

  .ui-dialog-titlebar-close
    height: 15px !important
    width: 15px !important
    background: none !important
    border: none !important
    .ui-icon
      @extend .icon
      color: $color-blue-dark
      background: none
      border: none !important
      text-indent: 0
      font-size: 0
      padding: 0
      &:before
        +icon-size(15px)
        content: '\e617'

  .ui-widget-header
    font-size: $font-size-h3
    margin-bottom: $field-margin
    padding: 0
    background: none
    color: $color-blue-dark
    border: none
    font-weight: $font-weight-medium

// Hide select formats in a comment field for anonymous users
// Remove margin for textarea
.comment-form-anonymous
  margin-bottom: 0
  .filter-wrapper
    display: none

// Prevent overlapping contextal button and local tasks button.
.section--featured .contextual
  top: 50px

#block-joinup-theme-local-tasks
  position: absolute
  top: 10px
  right: 10px
  z-index: 4
  a
    text-decoration: none
  .icon
    +icon-size(15px)
    color: #fff
  &:first-child
    .icon
      color: $color-base