.mdl-card
  width: 100% !important

.mdl-layout__header-row
  height: 64px !important

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label, .mdl-textfield--floating-label .mdl-textfield__label
  color: $color-grey-input
  font-size: 20px

.mdl-textfield--floating-label.is-invalid .mdl-textfield__input, .mdl-textfield--floating-label .mdl-textfield__input
  border-color: $color-grey-input !important
  border-width: 1px !important

.textfield--helptext-container
  margin-bottom: 0 !important

.mdl-cell--12-col-tablet
  +breakpoint(mobile, tablet)
    width: 100%

.form-wrapper
  margin-bottom: 25px

.section--sidebar-left #edit-join
  margin-left: -100px

form .description
  color: #a0a1a2
  font-size: 12px

.messages
  background-image: none

.mdl-menu
  .mdl-menu__item
    padding: 0
    a
      display: block
      padding: 16px
