.mdl-card
  width: 100% !important

.mdl-layout__header-row
  height: 64px !important

.mdl-cell--12-col-tablet
  +breakpoint(mobile, tablet)
    width: 100%

.mdl-menu
  .mdl-menu__item
    height: auto
    padding: 0
    a
      display: block
      padding: 16px
      white-space: normal

.mdl-layout__drawer-button
  +hidden-print
  top: 4px
  .material-icons
    font-size: 40px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: #fff
  +breakpoint(tablet)
    display: none

.mdl-textfield--floating-label
  .field-prefix
    display: none

.mdl-layout
  overflow: initial !important

.mdl-spinner
  position: fixed
  top: 48.5%
  left: 49%
  z-index: 1000

.mdl-grid--center
  justify-content: center

.join-collection-form, .block-local-tasks-block
  .mdl-menu__item a
    white-space: nowrap
    color: $color-blue-default
  .mdl-menu__container
    margin-top: $field-margin

.block-local-tasks-block
  position: absolute
  top: 10px
  right: 10px
  z-index: 4
  a
    text-decoration: none
  .icon
    +icon-size(15px)
    color: #fff
  &:first-child
    .icon
      color: $color-base



