.mdl-card
  width: 100% !important

.mdl-cell--12-col-tablet
  +breakpoint(mobile, tablet)
    width: 100%

.mdl-layout__header-row
  height: 64px !important
  +breakpoint(tablet)
    padding: 0 20px

.mdl-menu
  .mdl-menu__item
    height: auto
    padding: 0
    a
      display: block
      padding: 16px
      white-space: normal

.mdl-layout__drawer
  +z-index(max+1)

.mdl-layout__obfuscator
  +z-index(max)

.mdl-layout__drawer-button
  top: 4px
  +hidden-print
  +breakpoint(tablet)
    display: none
  .material-icons
    font-size: 40px
    color: #fff
    +centered

.mdl-textfield--floating-label
  .field-prefix
    display: none

.mdl-spinner
  position: fixed
  top: 48.5%
  left: 49%
  +z-index(max)

.mdl-grid--center
  justify-content: center

.join-collection-form,
#block-joinup-theme-local-tasks
  .mdl-menu__item a
    white-space: nowrap
    color: $color-blue-default
  .mdl-menu__container
    margin-top: $field-margin

// Fix for iOS overflow issue caused by not respecting % height value
.mdl-layout__container
  height: auto

.mdl-layout
  min-height: 100vh

// Fix for Internet Explorer unstretched content section (once empty) and footer overflow issues caused by not respecting the min-height value
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .mdl-layout__container
    height: 100vh
    .section--header,
    .section--footer
      flex-shrink: 0
    .section--featured,
    .section--content
      flex-grow: 1
      flex-shrink: 0

.filters
  .mdl-menu__container
    max-height: 400px
  .mdl-menu
    position: relative
    overflow-x: hidden
    overflow-y: auto
    max-height: 400px
