{#
/**
 * @file
 * Default theme implementation of the 'fake' facet linking to advanced search.
 *
 * This is used on the collection and solution homepages to forward the current
 * search filters to the actual search page.
 *
 * Available variables:
 * - link: The link to the search page.
 *
 * @ingroup themeable
 */
#}
<div class="filter">
  <div class="filter__advanced-search">
      {{ link }}
  </div>
</div>
