{#
/**
 * @file
 * Default theme implementation of link that are accompanied with an icon.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the link.
 * - icon: The name of the icon. This should be one of the icons listed in the
 *   `_icon.sass` file.
 * - title: The link title.
 * - url: The link URL.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
<a href="{{ url }}"{{ attributes }}><span class="action-link__icon icon icon--{{ icon }}"></span><span class="action-link__link">{{ title }}</span></a>
{% endspaceless %}
