{% if content %}
  <a id="add-content" href="#" class="plus-button mdl-button mdl-js-button mdl-button--fab">
    <i class="plus-button__icon material-icons">Add</i>
  </a>
    <ul class="add-content-menu__dropdown mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="add-content">
    {% for list in content %}
      {% for item in list %}
        {%  if item is iterable %}
          <li class="mdl-menu__item">
            {{ item }}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
{% endif %}