<div class="section section--featured">
    <div class="container-fluid">
        <div class="region region--featured">
            <div class="featured mdl-grid">
                <div class="featured__left mdl-cell mdl-cell--2-col"></div>
                <div class="featured__center mdl-cell mdl-cell--8-col">
                    <div class="featured__logo">
                        <img src="/themes/joinup/images/featured-img.png">
                    </div>
                    <h1 class="featured__text">{{ title }}</h1>
                    <div class="featured__stats">
                        <div class="stats__column">
                            <div class="stats__wrapper">
                                <span class="stats__icon icon icon--user"></span>
                                <span class="stats__text">13 Members</span>
                            </div>
                            <div class="stats__wrapper">
                                <span class="stats__icon icon icon--solution"></span>
                                <span class="stats__text">124 Solutions</span>
                            </div>
                        </div>
                        <div class="stats__column">
                            <div class="stats__wrapper">
                                <span class="stats__icon icon icon--message"></span>
                                <span class="stats__text">9 Communications</span>
                            </div>
                            <div class="stats__wrapper">
                                <span class="stats__icon icon icon--like"></span>
                                <span class="stats__text">75 Likes</span>
                            </div>
                        </div>
                    </div>
                    {{ page.featured}}
                </div>
                <div class="featured__right mdl-cell mdl-cell--2-col"></div>
                <div class="featured__overlay"></div>
            </div>
        </div>
    </div>
</div>
