<div class="featured__stats">
  <div class="stats__column">
    <div class="stats__wrapper">
      <span class="stats__text">Licence:</span>
      <span class="stats__text bold underline">EUPL</span>
    </div>
  </div>
  <div class="stats__column">
    <div class="stats__wrapper">
      <span class="stats__text">Downloads:</span>
      <span class="stats__text bold">1234</span>
    </div>
  </div>
</div>
<button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download</button>
