<div class="region region--featured">
  <div class="bg--blue">
    <div class="main-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--10-col">
        <h1 class="page__title">{{ title }}</h1>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
  </div>
</div>
