<div class="region region--featured">
  <div class="bg--blue">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="page__title-wrapper">
              {% if is_create_page %}
                <span class="icon icon--plus"></span>
              {% endif %}
              {{ title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
