<div class="section section--featured section--featured-navy-blue">
  <div class="featured--navy-blue mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      {{ page.featured }}
    </div>
  </div>
</div>
