<div class="section section--featured">
    <div class="container-fluid">
        <div class="region region--featured">
            <div class="featured mdl-grid">
                <div class="featured__left mdl-cell mdl-cell--2-col"></div>
                <div class="featured__center mdl-cell mdl-cell--8-col">
                    <div class="main-title">
                        <div class="main-title__logo">
                            <img src="/themes/joinup/images/title-logo.png">
                        </div>
                        <h1 class="main-title__text">{{ title }}</h1>
                    </div>
                    {{ page.featured}}
                </div>
            </div>
        </div>
    </div>
</div>