<header class="section section--header" role="banner-eu">
  <div class="mdl-layout__header-row eu-header">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="row">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                  <a href="{{url_subpath}}">
                    <img class="logo_eu" src="{{ base_path ~ directory }}/images/logo_eu.png">
                  </a>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="site-name-slogan">
                    <h1>European Innovation Council </h1>
                    <h2>Challenge Platform</h2>
                  </div>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
