<div class="container-fluid">
  <div class="region region--header mdl-layout__header-row">
    <a href="/" class="header-logo mdl-layout-title" title="Home"></a>
    <div class="mdl-layout-spacer"></div>
    <nav class="header-menu mdl-navigation">
      <a class="header-menu__link header-menu__link--solutions mdl-navigation__link" href="#"><span class="header-menu__text">Solutions</span></a>
      <a class="header-menu__link header-menu__link--collections active-trail mdl-navigation__link" href="#"><span class="header-menu__text">Collections</span></a>
      <a class="header-menu__link header-menu__link--events mdl-navigation__link" href="#"><span class="header-menu__text">Events</span></a>
    </nav>
    <div class="mdl-layout-spacer"></div>
    <div class="search-bar mdl-textfield mdl-js-textfield mdl-textfield--expandable
    mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="search-bar__label header__search-icon mdl-button mdl-js-button mdl-button--icon"
      for="search-bar__input">
      <i class="search-bar__icon material-icons"></i>
      </label>
      <div class="search-bar__input-container mdl-textfield__expandable-holder">
        <input class="search-bar__input mdl-textfield__input" type="text" name="search"
        id="search-bar__input">
      </div>
    </div>
    <div class="login-menu">
      <div id="login-menu__button" class="login-menu__button mdl-button mdl-js-button">
        <img src="{{ base_path ~ directory }}/images/login-icon.png" />
      </div>
      <ul class="login-menu__dropdown mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="login-menu__button">
        <li class="mdl-menu__item"><a class="login-menu__link" href="#">My profile</a></li>
        <li class="mdl-menu__item"><a class="login-menu__link" href="#">My page</a></li>
        <li class="mdl-menu__item"><a class="login-menu__link" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
