<header class="section section--header" role="banner">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>

    {{ page.header_central_menu.joinup_theme_main_menu }}

    <div class="mdl-layout-spacer"></div>

    {{ page.header }}
    {{ page.header_profile_menu }}

  </div>
</header>
<div class="mdl-layout__drawer">
  {{ page.header_central_menu.joinup_theme_main_menu_mobile }}
</div>
