{#
/**
 * @file
 * Textfield input for the licence search input.
 */
#}
<div class="licence-search">
  <div class="licence-search__label">{{ "Enter licence SPDX identifier"|t }}</div>
  <div class="licence-search__input">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <div class="mdl-textfield__label-container">
        <input class="mdl-textfield__input" type="text" id="licence-search"/>
        <label class="mdl-textfield__label" for="licence-search">{{ "SPDX id"|t }}</label>
      </div>
    </div>
  </div>
  <div class="licence-search__label">{{ "or select licence terms below"|t }}</div>
</div>
