<div class="sidebar-menu">
  <button id="sidebar-menu" class="sidebar-menu__button mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>
  <nav class="sidebar-menu__container" for="sidebar-menu">
    <a class="sidebar-menu__item" href="#">About</a>
    <a class="sidebar-menu__item" href="#">Overview</a>
    <a class="sidebar-menu__item" href="#">Discussions</a>
    <a class="sidebar-menu__item" href="#">Members</a>
    <a class="sidebar-menu__item" href="#">Metrics</a>
  </nav>
</div>
