h1, h2, h3, span, a, div
  font-family: 'Open Sans', sans-serif
  line-height: normal

div
  box-sizing: border-box

.main-container
  max-width: $container-desktop
  width: 100%
  box-sizing: border-box

.content-container
  max-width: 784px
  width: 100%
