<!-- Error -->
<div class="alert alert--error">
  <span class="alert__icon icon icon--error"></span>
  <span class="alert__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ornare pharetra. Vestibulum in tellus aliquet, interdum nulla vitae, tempor arcu.</span>
  <a class="alert__close icon icon--close"></a>
</div>

<!-- Warning -->
<div class="alert alert--warning">
  <span class="alert__icon icon icon--warning"></span>
  <span class="alert__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ornare pharetra. Vestibulum in tellus aliquet, interdum nulla vitae, tempor arcu.</span>
  <a class="alert__close icon icon--close"></a>
</div>

<!-- Information -->
<div class="alert alert--info">
  <span class="alert__icon icon icon--info"></span>
  <span class="alert__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ornare pharetra. Vestibulum in tellus aliquet, interdum nulla vitae, tempor arcu.</span>
  <a class="alert__close icon icon--close"></a>
</div>

<!-- Information -->
<div class="alert alert--success">
  <span class="alert__icon icon icon--success"></span>
  <span class="alert__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ornare pharetra. Vestibulum in tellus aliquet, interdum nulla vitae, tempor arcu.</span>
  <a class="alert__close icon icon--close"></a>
</div>