<div class="featured__menu">
  <div id="featured__menu-button" class="featured__menu-button mdl-button mdl-js-button">
    <span class="icon icon--menu"></span>
  </div>
  <ul class="featured__menu-dropdown mdl-menu mdl-menu--bottom-left mdl-js-menu" for="featured__menu-button">
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution">Overview</a></li> 
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-distribution">Distribution</a></li>
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-release">Release</a></li>
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-download">Download</a></li>
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-events">Events</a></li>
    <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-about">About</a></li>
  </ul>
</div>