<!-- Filters -->
<div class="filters filters--horizontal">
  <div class="filter">
    <div class="filter__term">All Solutions (74)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">about:</div>
    <div class="filter__term">eHealth (18)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">located in:</div>
    <div class="filter__term">Belgium (8)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">sorted by:</div>
    <div class="filter__term">reputation</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
</div>