<div class="listing listing--grid mdl-grid">
  <!-- Listing item 1 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
  <!-- Listing item 2 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
  <!-- Listing item 3 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
  <!-- Listing item 4 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
  <!-- Listing item 5 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
  <!-- Listing item 6 - Default -->
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
    <div class="listing__card listing__card--stats-container mdl-card">
      <div class="listing__image">
        <img src="../images/tile-image.png">
      </div>
      <div class="listing__metadata">
      <div class="listing__field">
        <img class="listing__avatar" src="../images/login-icon.png">
      </div>
      <div class="listing__field">
        <h2 class="listing__title">Optimy</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenan convallis.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">154</span>
          <span class="listing__icon icon icon--download"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">13</span>
          <span class="listing__icon icon icon--user"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>        
      </div>
    </div>
  </div>
</div>
