<div class="section section--content mdl-cell mdl-cell--8-col">
  <div class="container-fluid">
    <div class="region region--content">
      <div class="block">
        <div class="listing listing--grid mdl-grid">
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
          <div class="listing__item mdl-cell mdl-cell--4-col">{% include tile.html %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
