<div class="section section--featured">
  <div class="container-fluid">
    <div class="region region--featured mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="featured-center mdl-cell mdl-cell--8-col">
        <div class="main-title">
          <div class="main-title__logo">
            <img src="../images/title-logo.png">
          </div>
          <div class="main-title__text">Querying the <br/>semantic web</div>
        </div>
        <a href="#" class="plus-button mdl-button mdl-js-button mdl-button--fab">
            <i class="plus-button__icon material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
</div>
