<div class="section section--featured">
  <div class="container-fluid">
    <div class="featured">
      <div class="featured__wrapper">
        <div class="featured__logo">
          <img src="../images/featured-img.png">
        </div>
        <h1 class="featured__text">Querying the <br/>semantic web</h1>
        <div class="featured__stats">
          <div class="stats__column">
            <div class="stats__wrapper">
              <span class="stats__icon icon icon--user"></span>
              <span class="stats__text">13 Members</span>
            </div>
            <div class="stats__wrapper">
              <span class="stats__icon icon icon--solution"></span>
              <span class="stats__text">124 Solutions</span>
            </div>
          </div>
          <div class="stats__column">
            <div class="stats__wrapper">
              <span class="stats__icon icon icon--message"></span>
              <span class="stats__text">9 Communications</span>
            </div>
            <div class="stats__wrapper">
              <span class="stats__icon icon icon--like"></span>
              <span class="stats__text">75 Likes</span>
            </div>
          </div>
        </div>
        <button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Join this collection</button>
        <div class="button--circle-wrapper">
          <button href="#" class="button--circle mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <span class="icon icon--plus"></span>
          </button>
        </div>
        <div class="featured__menu">
          <div id="featured__menu-button" class="mdl-button mdl-js-button">
            <span class="icon icon--menu"></span>
          </div>
          <ul class="featured__menu-dropdown mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="featured__menu-button">
            <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="#">Item #1</a></li>
            <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="#">Item #2</a></li>
            <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="#">Item #3</a></li>
          </ul>
        </div>
      </div>
      <div class="featured__overlay"></div>
    </div>
  </div>
</div>
