<div class="sidebar-menu">
  <button id="sidebar-menu__button" class="sidebar-menu__button mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="sidebar-menu__button">
  	<li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution">Overview</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-distribution">Distribution</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-release">Release</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-download">Download</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-events">Events</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-about">About</a></li>
  </ul>
</div>