<div class="tabs--content-type">
  <div class="tab--content-type">
    <div class="tab__icon icon icon--news"></div>
    <div class="tab__text">
      <div class="tab__text--upper">155</div>
      <div class="tab__text--lower">News</div>
    </div>
  </div>
  <div class="tab--content-type is-active">
    <div class="tab__icon icon icon--solution"></div>
    <div class="tab__text">
      <div class="tab__text--upper">74</div>
      <div class="tab__text--lower">interoperability solutions</div>
    </div>
  </div>
  <div class="tab--content-type">
    <div class="tab__icon icon icon--business-case"></div>
    <div class="tab__text">
      <div class="tab__text--upper">42</div>
      <div class="tab__text--lower">business cases</div>
    </div>
  </div>
  <div class="tab--more">
    <div class="tab--more-wrapper">
      <div class="tab__text">More</div>
      <div class="tab__icon icon icon--arrow-down"></div>
    </div>
  </div>
</div>