<div class="listing__item-tile tile mdl-card mdl-shadow--2dp">
  <div class="tile__field tile__image">
    <img src="../images/tile-image.png">
  </div>
  <div class="tile__field tile__avatar">
    <img src="../images/login-icon.png">
  </div>
  <div class="tile__field mdl-card__title">
    <h2 class="mdl-card__title-text">Optimy</h2>
  </div>
  <div class="tile__field mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </div>
  <div class="tile__field tile__icons-bar mdl-card__actions">
    <div class="tile__icons-item tile__icons-item--solutions">
      154
    </div>
    <div class="tile__icons-item tile__icons-item--members">
      13
    </div>
    <div class="tile__icons-item tile__icons-item--like">
      22
    </div>
  </div>
</div>
