<div class="listing__item--tile mdl-card">
  <div class="listing__image">
    <img src="../images/tile-image.png">
  </div>
  <div class="listing__field listing__avatar">
    <img src="../images/login-icon.png">
  </div>
  <div class="listing__field">
    <h2 class="listing__title">Optimy</h2>
  </div>
  <div class="listing__field">
    <p class="listing-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.</p>
  </div>
  <div class="listing__field icons-bar mdl-card__actions">
    <div class="icons-bar__item icons-bar__item--solutions">
      154
    </div>
    <div class="icons-bar__item tile__icons-item--members">
      13
    </div>
    <div class="icons-bar__item tile__icons-item--like">
      22
    </div>
  </div>
</div>
