blockquote
  position: relative
  clear: both
  overflow: hidden
  margin: 24px -60px
  padding: 40px 80px
  color: #fff
  background-color: $color-blue-medium
  &:before,
  &:after
    display: none

.blockquote__paragraph
  font-size: $font-size-base
  font-weight: $font-weight
  font-style: italic
  line-height: 1.8

.blockquote__author
  font-size: $font-size-base - 2px
  font-style: normal
  margin-top: 24px
  text-align: right
