// Input
//
// Markup: html/input.html
//
// Styleguide 1.11

// Component
// --------------------------------------------------
// .mdl-textfield

// Elements
// --------------------------------------------------
.mdl-textfield__input
  height: 42px
  padding-top: 0
  padding-bottom: 0
  border-width: 1px
  border-color: $color-grey-input

.mdl-textfield__label-container
  position: relative

.mdl-textfield__label
  font-size: $font-size-medium
  top: 10px
  color: $color-grey-input
  &:after
    bottom: 0

.textfield__helptext
  font-size: $font-size-xsmall
  font-weight: $font-weight-thin
  display: block
  margin-top: 6px
  color: lighten($color-grey-medium, 10%)

// Modifiers
// --------------------------------------------------
.textfield--full-width
  width: 100%


// Dependiencies
// --------------------------------------------------

// States
// --------------------------------------------------
.mdl-textfield
  &.is-invalid
    .mdl-textfield__input
      border-width: 1px
      border-color: $color-grey-input
    .mdl-textfield__label
      font-size: $font-size-medium
      color: $color-grey-input
      &:after
        background-color: #a0a1a2
  &.is-focused,
  &.is-dirty
    .mdl-textfield__label
      font-size: $font-size-small
      top: -16px
      color: $color-blue-medium
      &:after
        bottom: 0
        background-color: $color-blue-medium

.mdl-textfield--textarea
  &.is-focused,
  &.is-dirty
    .mdl-textfield__input
      height: auto
      padding-top: 12px
      padding-bottom: 12px

      
