<table class="form-table">
  <thead>
    <tr>
      <th colspan="2" class="form-table__header">
        <label class="form__label">Label of the draggable field</label>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="draggable form-table__row">
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--draggable"></a>
      </td>
      <td class="form-table__cell">
        <div class="textfield--full-width mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield--helptext-container is-upgraded">
          <div class="mdl-textfield__label">Label</div>
          <input class="mdl-textfield__input">
          <div class="textfield__helptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </td>
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--close"></a>
      </td>
    </tr>
    <tr class="draggable form-table__row">
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--draggable"></a>
      </td>
      <td class="form-table__cell">
        <div class="textfield--full-width mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield--helptext-container is-upgraded">
          <div class="mdl-textfield__label">Label</div>
          <input class="mdl-textfield__input">
          <div class="textfield__helptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </td>
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--close"></a>
      </td>
    </tr>
    <tr class="draggable form-table__row">
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--draggable"></a>
      </td>
      <td class="form-table__cell">
        <div class="textfield--full-width mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield--helptext-container is-upgraded">
          <div class="mdl-textfield__label">Label</div>
          <input class="mdl-textfield__input">
          <div class="textfield__helptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </td>
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--close"></a>
      </td>
    </tr>
    <tr class="draggable form-table__row">
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--draggable"></a>
      </td>
      <td class="form-table__cell">
        <div class="textfield--full-width mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield--helptext-container is-upgraded">
          <div class="mdl-textfield__label">Label</div>
          <input class="mdl-textfield__input">
          <div class="textfield__helptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </td>
      <td class="form-table__cell form-table__cell--icon-container">
        <a href="#" class="draggable__icon icon icon--close"></a>
      </td>
    </tr>
  </tbody>
</table>