<footer class="section section--footer">
  <div class="footer__second">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <!-- The number of the columns should be 8; used 12 only for styleguide purpose -->
          <div class="mdl-cell mdl-cell--12-col">
            <ul class="ec-menu">
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en" class="ec-menu__link" target="_blank">About the Commission's new web presence</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/resources-partners_en" class="ec-menu__link" target="_blank">Resources for partners</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/cookies_en" class="ec-menu__link" target="_blank">Cookies</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/legal-notice_en" class="ec-menu__link" target="_blank">Legal notice</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/contact_en" class="ec-menu__link" target="_blank">Contact</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/europa-analytics_en" class="ec-menu__link" target="_blank">Europa Analytics</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
