.joinup-layout--twocolfooter-onecol-67-33 {
  background-color: $white;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:before {
    content: "";
    position: absolute;
    background-color: $gray-200;
    width: 100%;
    height: 350%;
    border-radius: 50%;
    top: 0;
    transform: translate(60%, 0);
    z-index: -1;
  }
}

.about-what,
.about-who,
.about-how {
  color: $gray-700;
}
.about-how {
  a {
    @extend .btn;
    @extend .btn-secondary;
  }
}
