// Advanced search filters
.joinup-search-filters {
  .offcanvas {
    box-shadow: none;
    &::before {
      width: 100vw;
      height: 100%;
      background: $gray-300;
      content: '';
      position: absolute;
      z-index: -10;
      right: 0;
    }
    .offcanvas-header {
      border-bottom: 1px solid $gray-400;
    }
    .form-label,
    fieldset > legend {
      text-transform: uppercase;
      color: $primary;
      font-weight: $font-weight-bold;
      margin-bottom: $spacer;
    }
    .form-item {
      margin-top: $spacer * 1.5;
      padding-bottom: $spacer * 1.5;
      border-bottom: 1px solid $gray-400;
      @include media-breakpoint-up(lg) {
        margin-top: $spacer * 2.5;
        padding-bottom: $spacer * 2.5;

      }
    }
    .form-select {
      background-color: transparent;
      padding: 0;
      border: none;
      box-shadow: none;
      overflow: auto;
    }
  }
}
