// Explore

// Temporarily hidding horizontal-scroll on window.
html,
body {
  overflow-x: hidden;
}

.block-joinup-front-page-explore-block {
  position: relative;
  @extend .mb-5;
  @include full-width-color-to-top(
    $gray-200,
    $white,
    8rem,
    3rem,
    $gray-200,
    0,
    3rem
  );
  .explore-block-title {
    text-transform: uppercase;
    @extend .h4;
    @extend .pb-2;
    @extend .mb-4;
    @include font-icon-before("\E802", 1.42rem, $warning);
    border-bottom: 1px solid rgba($primary, .1);
  }
  .nav-tabs {
    border: none;
    @extend .mb-3;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: $spacer * 3;
      right: 0;
    }
    .nav-link {
      border: none;
      background: none;
      padding: 0 0 $btn-padding-y 0;
      @extend .m-2;
      @extend .m-lg-4;
      color: $gray-500;
      &.active {
        color: $black;
        border-bottom: 4px solid $black;
      }

    }
  }
  .tab-content {
    width: 100vw;
    @include media-breakpoint-up(xl) {
      width: 90vw;
    }
    .tab-pane {
      .see-more {
        display: block;
      }
      .tab-data {
        article {
          display: flex !important;
          flex-flow: column;
          background-color: $white;
          border-radius: $border-radius;
          @extend .p-4;
          @extend .me-4;
          @extend .shadow;
          height: 100%;
          .layout {
            flex-grow: 1;
            .layout__region {
              display: flex;
              flex-direction: column;
              height: 100%;
            }
          }
          h2 {
            font-size: $h4-font-size;
            @extend .fw-medium;
            line-height: $line-height-base;
            a {
              color: $gray-800;
            }
          }
          .explore-item__description {
            flex-grow: 1;
            color: $gray-600;
            @extend .mb-4;
          }
          .date {
            color: $gray-500;
            @extend .fs-xs;
            .field--name-created, .field--name-published-at {
              padding-top: $btn-padding-y;
            }
          }
          .block-extra-field-blockrdf-entitysolutionread-more,
          .block-extra-field-blockrdf-entitycollectionread-more,
          .block-extra-field-blocknodenewsread-more,
          .block-extra-field-blocknodeeventread-more {
            align-self: flex-end;
            margin-top: -1.8rem;
          }
          .read-more {
            display: inline-block;
            float: right;
            @extend .btn;
            @extend .btn-secondary;
          }
        }
      }
    }
  }
}
.append-buttons {
  display: flex;
  float: left;
}
.slick-controls {
  width: 40px;
  height: 40px;
  background-color: $white;
  border: none;
}
.slick-prev {
  margin-right: 1rem;
  span.icon {
    @include font-icon-before("\F104", 1.2rem, $primary, inherit, 0);
  }
}
.slick-next {
  span.icon {
    @include font-icon-before("\F105", 1.2rem, $primary, inherit, 0 0 0 6px);
  }
}

.slick-slider {
  display: flex;
  flex-flow: column;
  .slick-list {
    order: 3;
    overflow-y: unset !important;
    overflow-x: clip !important;
    padding: 6px 0 6px 6px;
  }
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    display: flex !important;
    height: auto !important;
    margin-right: $spacer*1.5;
    & > div {
      width: 100%;
    }
  }
}
