// Explore

// Temporarily hidding horizontal-scroll on window.
html,
body {
  overflow-x: hidden;
}

.block-joinup-front-page-explore-block {
  position: relative;
  @extend .mb-5;
  @include full-width-color-to-top(
    $gray-200,
    $white,
    8rem,
    3rem,
    $gray-200,
    0,
    3rem
  );
  > h2 {
    text-transform: uppercase;
    @extend .h4;
    @extend .pb-2;
    @extend .mb-4;
    @include font-icon-before("\E802", 1.42rem, $warning);
    border-bottom: 1px solid rgba($primary, .1);
  }
  .nav-tabs {
    border: none;
    @extend .mb-3;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: $spacer * 3;
      right: 0;
    }
    .nav-link {
      border: none;
      background: none;
      padding: 0 0 $btn-padding-y 0;
      @extend .m-2;
      @extend .m-lg-4;
      color: $gray-500;
      &.active {
        color: $black;
        border-bottom: 4px solid $black;
      }

    }
  }
  .tab-content {
    width: 100vw;
    .tab-pane {
      .see-more {
        display: block;
      }
      .tab-data {
        article {
          background-color: $white;
          border-radius: $border-radius;
          max-width: 352px;
          @extend .p-4;
          @extend .me-4;
          @extend .shadow;
          h2 {
            font-size: $h4-font-size;
            @extend .fw-medium;
            line-height: $line-height-base;
            a {
              color: $gray-800;
            }
          }
          div[class$="description"] {
            color: $gray-600;
            @extend .mb-4;
          }
          div[class$="created"],
          div[class$="published-at"] {
            display: inline-block;
            color: $gray-500;
            @extend .fs-xs;
          }
          div[class$="read-more"] {
            display: inline-block;
            float: right;
            @extend .btn;
            @extend .btn-secondary;
          }
        }
      }
    }
  }
}

.splide {
  padding-top: 1rem;
  .splide__arrows {
    display: flex;
    float: left;
    @extend .me-4;
  }
  .splide__arrow {
    background-color: $white;
    transform: none;
    svg {
      width: .8em;
      height: .8em;
    }
  }
  .splide__arrow--prev {
    left: 0;
    position: relative;
  }
  .splide__arrow--next {
    right: 0;
    position: relative;
    margin-left: 1rem;
  }
  .splide__list {
    padding: 10px 0 !important;
  }
}
