.block-joinup-search-global-search {
  @extend .pt-5 !optional;
  @extend .pb-2 !optional;
  @extend .me-3 !optional;
  @extend .col-lg !optional;
  .search-bar {
    .search-bar__input {
      border-style: none;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    .btn-search {
      @include font-icon-before("\E805", 1.2rem, inherit, inherit, 0);
    }
  }
}
