// Highlighted Event
.block-entityqueue--highlighted-event {
  position: relative;
  margin-bottom: $spacer * 3; // 48px
  height: 100%;
  > h2 {
    @include font-icon-before("\F133", 1.2rem, $warning);
  }
  .more-link {
    position: absolute;
    bottom: -2rem;
    @include media-breakpoint-up(md) {
      right: 0;
      top: 12px;
    }
    @include font-icon-after("\E801", 1rem);
  }
  article {
    background: $gray-300 url(../images/highlighted-event.jpg) no-repeat center center;
    background-size: cover;
    border-radius: $border-radius-lg; // 0.3rem
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $spacer * 1.5; // 24px
    @include media-breakpoint-up(lg) {
      padding: $spacer * 3; // 48px
    }
    color: $white;
    header {
      margin-bottom: $spacer * 3; // 48px
      padding-bottom: $spacer * 3; // 48px
      h3 {
        text-transform: uppercase;
        color: $white;
        font-size: 1.25rem;
        font-weight: normal;
        border-bottom: 4px solid $white;
      }
    }
    > h2 {
      line-height: $line-height-sm;
      margin-bottom: $spacer * .25; // 4px
      color: $white;
    }
    .field--name-field-event-date {
      font-size: $h4-font-size;
      font-weight: normal;
    }
    footer {
      margin-top: $spacer * 3; // 48px
      padding-top: $spacer * 3; // 48px
    }
  }
}
