// Highlighted Solution
.block-entityqueue--highlighted-solution {
  padding-bottom: $spacer * 3; // 48px
  border-bottom: 1px solid rgba($primary, .1);
  position: relative;
  height: 100%;
  > h2 {
    @include font-icon-before("\E803", 1.2rem, $warning);
  }
  .more-link {
    position: absolute;
    bottom: 1rem;
    @include media-breakpoint-up(md) {
      right: 0;
      top: 12px;
    }
    @include font-icon-after("\E801", 1rem);
  }
  article {
    .field--name-field-is-logo {
      margin-bottom: $spacer * 1.5; // 24px
    }
    .field--name-field-is-description {
      color: $gray-700;
    }
    .field--name-field-is-solution-type {
      color: $gray-500;
      margin-top: $spacer * .5; // 8px
      font-size: $font-size-xs;
    }
    .field--name-field-topic {
      a {
        border-radius: $border-radius-pill;
        padding-right: $spacer; // 16px
        padding-left: $spacer; // 16px
      }
    }
  }
}
