// Highlighted Solution
.block-entityqueue--highlighted-solution {
  @extend .pb-5;
  border-bottom: 1px solid rgba($primary, .1);
  position: relative;
  height: 100%;
  > h2 {
    @include font-icon-before("\E803", 1.2rem, $warning);
  }
  .more-link {
    position: absolute;
    bottom: 1rem;
    @include media-breakpoint-up(md) {
      right: 0;
      top: 12px;
    }
    @include font-icon-after("\E801", 1rem);
  }
  article {
    .field--name-field-is-logo {
      @extend .mb-4;
    }
    .field--name-field-is-description {
      color: $gray-700;
    }
    .field--name-field-is-solution-type {
      color: $gray-500;
      @extend .mt-2;
      @extend .fs-xs;
    }
    .field--name-field-topic {
      a {
        border-radius: $border-radius-pill;
      }
    }
  }
}