// Homepage Common styles
.joinup-layout {
  .block {
    & > h2 {
      text-transform: uppercase;
      @extend .h4;
    }
  }
  .field--name-field-topic {
    @extend .mb-3;
    .field__item {
      display: inline-block;
    }
    a {
      @extend .badge;
      @extend .bg-secondary;
      font-size: $font-size-sm;
      color: $link-color;
      font-weight: normal;
    }
  }
}
.view-in-the-spotlight,
.block-entityqueue--highlighted-solution,
.view-latest-news {
  .views-row {
    @extend .mb-4;
    &:last-child {
      @extend .mb-0;
    }
  }
  .field--name-body {
    color: $gray-700;
  }
  article {
    h2 {
      font-size: $font-size-base;
      @extend .fw-medium;
      line-height: $line-height-base;
      a {
        color: $gray-900;
      }
    }
    img {
      @extend .rounded;
    }
  }
}

.iop-gradient {
  // background: linear-gradient(to right, #278ebf 0%, #44bfb8 32%, #50c1b0 37%, #70c89a 45%, #a4d377 56%, #c2d962 62%, #f6921e 100%); // Full IOP gradient
  background: linear-gradient(
    to right,
    #c2d962 0%,
    #f6921e 100%
  ); // Only last 2 colors
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Use Polyfill classes for IE fallback colours.
.iecp-u1 {
  .text-light {
    color: $white;
  }
}
