// In the Spotlight
.block-views-blockin-the-spotlight-block {
  @extend .pb-5;
  height: 100%;
  border-bottom: 1px solid rgba($primary, .1);
  > h2 {
    @include font-icon-before("\E800", 1.2rem, $warning);
  }
}
.view-in-the-spotlight {
  counter-reset: spotlight-counter;
  .views-row {
    display: flex;
    flex-direction: column;    
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .metadata {
      color: $gray-500;
      @extend .mt-2;
      @extend .fs-xs;
    }
    &:before {
      counter-increment: spotlight-counter;
      content: counter(spotlight-counter,decimal-leading-zero);
      display: inline-block;
      font-size: $h3-font-size;
      font-weight: 700;
      color: rgba($primary, .3);
      @extend .pe-3;
      @extend .mb-2;
      line-height: 1;
    }
  }
}
