.joinup-navbar {
  background-color: $primary;
  box-shadow: $box-shadow;
  padding: 0;
  .navbar-brand {
    font-size: $font-size-xs; // 12px
  }
  .navbar-brand-image {
    @include media-breakpoint-between(xs, md) {
      width: 6rem; // 96px
    }
    @include media-breakpoint-up(md) {
      width: 8rem; // 128px
    }
  }
  .navbar-motto {
    @include media-breakpoint-up(md) {
      font-size: $font-size-sm; // 14px
      color: $white;
      letter-spacing: $font-size-base/10; // 1.6px
    }
  }
  .navbar-nav {
    justify-content: flex-end;
    width: 100%;
  }
  .nav-item {
    list-style: none;
    @include media-breakpoint-up(md) {
      padding: 0 $spacer*.5; // 0 8px
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
  .nav-link {
    font-weight: $font-weight-medium;
    color: $white;
    @include media-breakpoint-between(xs, md) {
      padding: $spacer*.75 0; // 12px 0
    }
    @include media-breakpoint-up(md) {
      padding: $spacer*1.5 0; // 24px 8px
    }
    &:hover {
      color: $gray-200;
    }
  }
  .accordion-collapse {
    position: absolute;
    z-index: 1;
    background: $primary;
    box-shadow: $box-shadow;
    margin-top: 1px;
    @include media-breakpoint-between(xs, md) {
      padding: $spacer*.875 $spacer; // 14px 16px
    }
    @include media-breakpoint-up(md) {
      max-width: 20*$spacer; // 320px
      padding: $spacer $spacer*1.5; // 16px 24px
    }
    @include media-breakpoint-between(xs, sm) {
      right: $spacer*.75;
    }
    @include media-breakpoint-between(sm, md) {
      right: calc(50% - 258px);
    }
    @include media-breakpoint-between(md, lg) {
      right: calc(50% - 348px);
    }
    @include media-breakpoint-between(lg, xl) {
      right: calc(50% - 468px);
    }
    @include media-breakpoint-between(xl, xxl) {
      right: calc(50% - 558px);
    }
    @include media-breakpoint-up(xxl) {
      right: calc(50% - 648px);
    }
  }
  .accordion-body {
    padding: 0; // Accordion resets
    color: $white;
  }
  .accordion-item {
    &:first-of-type,
    &:last-of-type {
      border: none;// Accordion resets
      .accordion-button.collapsed {
        border-radius: 0;// Accordion resets
      }
    }
    background-color: transparent;// Accordion resets
    border: none;// Accordion resets
  }
  .accordion-title {
    margin-bottom: 0.25*$spacer; // 4px
    font-weight: $font-weight-medium;
    @include media-breakpoint-between(xs, md) {
      margin-top: 0.5*$spacer; // 8px
      font-size: $font-size-sm; // 14px
    }
    @include media-breakpoint-up(md) {
      font-size: $font-size-base; // 16px
    }
  }
  .accordion-text {
    @include media-breakpoint-between(xs, md) {
      margin-bottom: 0.25*$spacer; // 4px
      font-size: $font-size-xs; // 12px
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: $font-size-sm; // 14px
    }
  }
  .accordion-cta {
    margin-bottom: 0;
    text-align: right;
    @include media-breakpoint-between(xs, md) {
      font-size: $font-size-sm; // 14px
    }
    @include media-breakpoint-up(md) {
      font-size: $font-size-base; // 16px
    }
  }
  .accordion-cta-link {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $gray-200;
      text-decoration: none;
    }
    .bi {
      @include media-breakpoint-between(xs, md) {
        width: $spacer; // 16px
        height: $spacer; // 16px
        margin: 0;
        vertical-align: -0.25*$spacer; // 4px
      }
      @include media-breakpoint-up(md) {
        width: 1.5*$spacer; // 24px
        height: 1.5*$spacer; // 24px
        margin: 0;
      }
    }
  }
  .accordion-item .accordion-button {
    color: $white;
    background-color: transparent; // Accordion resets
    border: none; // Accordion resets
    border-radius: 0; // Accordion resets
    &.collapsed {
      border: none; // Accordion resets
    }
    &:not([aria-expanded="false"]) {
      box-shadow: 0 -2px 0 0 $white inset;
      color: $white;
      background-color: transparent; // Accordion resets
    }
    &::after {
      width: 0; // Accordion resets
      height: 0; // Accordion resets
      margin-left: 0; // Accordion resets
      background: none; // Accordion resets
      transition: none; // Accordion resets
    }
    &:focus {
      color: $white;
      outline: 1px dotted white; // Accordion resets
    }
    &:not(:last-of-type) {
      margin-right: 0.5*$spacer; // 8px
    }
    .bi {
      @include media-breakpoint-between(xs, md) {
        width: 1.375*$spacer; // 22px
        height: 1.375*$spacer; // 22px  
      }
      @include media-breakpoint-up(md) {
        width: 1.5*$spacer; // 30px
        height: 1.5*$spacer; // 30px  
      }
    }
  }
  .bi + .accordion-button-label {
    // Hide the label on mobile when combined with an icon
    @include media-breakpoint-between(xs, md) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      margin-left: 0.5*$spacer; // 8px
    }
  }
  .accordion-list {
    padding-left: 0;
  }
  .accordion-list-item {
    list-style: none;
    &:not(:last-of-type) {
      margin-bottom: $spacer; // 16px
    }
  }
  .accordion-list-link {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
