 // Style tour popup nub
 .joyride-tip-guide {
   .joyride-nub {
     border: solid 14px $gray-300;

     &:after {
       content: " ";
       display: block;
       border: 14px solid #fff;
       width: 0;
       height: 0;
       z-index: 20;
       position: absolute;
     }

     &.top {
       border-top-color: transparent;
       border-left-color: transparent;
       border-right-color: transparent;

       &:after {
         border-top-color: transparent;
         border-left-color: transparent;
         border-right-color: transparent;
         top: -13px;
         left: -14px;
       }
     }

     &.bottom {
       border-bottom-color: transparent;
       border-left-color: transparent;
       border-right-color: transparent;

       &:after {
         border-bottom-color: transparent;
         border-left-color: transparent;
         border-right-color: transparent;
         bottom: -13px;
         left: -14px;
       }
     }

     &.right {
       border-top-color: transparent;
       border-right-color: transparent;
       border-bottom-color: transparent;

       &:after {
         border-top-color: transparent;
         border-right-color: transparent;
         border-bottom-color: transparent;
         top: -14px;
         right: -13px;
       }
     }

     &.left {
       border-top-color: transparent;
       border-left-color: transparent;
       border-bottom-color: transparent;

       &:after {
         border-top-color: transparent;
         border-left-color: transparent;
         border-bottom-color: transparent;
         top: -14px;
         left: -13px;
       }
     }

     &.top-right {
       border-top-color: transparent;
       border-left-color: transparent;
       border-right-color: transparent;

       &:after {
         border-top-color: transparent;
         border-left-color: transparent;
         border-right-color: transparent;
         top: -13px;
         right: -14px;
       }
     }
   }
 }

// Style tour popup content
.joyride-tip-guide {
  border-radius: 3px;
  border: 1px solid $gray-300;
}

.joyride-content-wrapper {
  padding: 20px 25px 70px 20px;

  .button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px 10px;
  }

  .tour-progress, .button {
    font-size: 12px;
  }

  .joyride-close-tip {
    @extend .icon;

    top: 10px;
    right: 10px;
    text-decoration: none;
    color: $blue-800;
    text-indent: 0;
    font-size: 0;

    &:before {
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 15px;
      content: "✕";
    }
  }

  .tour-tip-label {
    margin: 0 0 10px 0;
    font-size: 16px;

    &:empty {
      margin-bottom: 0;
    }
  }

  .tour-tip-body {
    margin-bottom: 0;
    font-weight: 300;
    color: $gray-600;
    font-size: 14px;
  }
}
