{% if results %}
  <div class="listing listing--grid">
    <div class="row">
      <div class="mdl-grid">
        {{ results }}
      </div>
    </div>
  </div>

  {{ pager }}
{% else %}
  <div class="page__content">
    {{ 'No content found.'|t }}
  </div>
{% endif %}
