{% if no_results_found %}
  {{ no_results_found }}
{% else %}
  <div class="listing listing--grid">
    <div class="row">
      <div class="mdl-grid">
        {{ results }}
      </div>
    </div>
  </div>

  {{ pager }}
{% endif %}
