{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="mdl-grid share-box__container">
  <form class="share-content-form share-content-form--social mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet">
    <fieldset class="form-wrapper">
      <div class="fieldset-wrapper">
        <div class="share-box__row form-wrapper already-shared">
          <div class="share-box__item">
            <div class="share-box__item-social-icon icon icon--facebook"></div>
            <div class="share-box__item-label form__label is-only-placeholder">Facebook</div>
          </div>
          <div class="form-type-checkbox">
            <input class="form-checkbox" type="checkbox">
          </div>
        </div>
        <div class="share-box__row form-wrapper">
          <div class="share-box__item">
            <div class="share-box__item-social-icon icon icon--twitter"></div>
            <div class="share-box__item-label form__label is-only-placeholder">Twitter</div>
          </div>
          <div class="form-type-checkbox">
            <input class="form-checkbox" type="checkbox">
          </div>
        </div>
        <div class="share-box__row form-wrapper already-shared">
          <div class="share-box__item">
            <div class="share-box__item-social-icon icon icon--gplus"></div>
            <div class="share-box__item-label form__label is-only-placeholder">Google +</div>
          </div>
          <div class="form-type-checkbox">
            <input class="form-checkbox" type="checkbox">
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <form{{ attributes.addClass('mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet') }}>
    {{ children }}
  </form>
</div>
