{#
/**
 * @file
 * Theme template for the collection tca agreement page.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
    <h2>Why create a Collection</h2>
    <p>You can connect with others that share the same interests as you do in Joinup collections.</p>
    <h2>How Collections work</h2>
    <p>What you can do when you create a Collection</p>
    <ul>
        <li>Choose who can see and join your Collection</li>
        <li>Add other people as moderators and owners</li>
        <li>Remove a person from your Collection</li>
        <li>Moderate posts and comments in your Collection</li>
        <li>Delete your Collection</li>
    </ul>
    <p>What others can do when they join your Collection</p>
    <ul>
        <li>See what other people have posted to that Collection</li>
        <li>Comment on posts in that Collection</li>
        <li>Leave that Collection at any time</li>
    </ul>
    <h2>How Collections are different from Solutions</h2>
    <p>You can follow a Solution or join a Collection</p>
    <p>Collections</p>
    <ul>
        <li>Collection can have more than one owner and moderator, and other people can join that Collection.</li>
        <li>When you're a member of a Collection, you can post to that Collection. Members of that Collection may see
            your posts.</li>
    </ul>
    <p>Solutions</p>
    <ul>
        <li>Lorem ipsum.</li>
    </ul>
    <h2>Do you want to create your own Collection?</h2>
    {{ children }}

</form>
