{#
/**
 * @file
 * Template to render the share content form.
 *
 * Note that the form tag will be added through a theme wrapper.
 *
 * Available variables:
 * - form: the form build array.
 *
 * @ingroup themeable
 */
#}
<div class="mdl-grid share-box__container">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet share-box__social">
    <h3 class="share-box__title">{{ 'Social networks'|t }}</h3>
    {{ form.share }}
  </div>
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet share-box__collections">
    <h3 class="share-box__title">{{ 'Other collections in Joinup'|t }}</h3>
    {{ form|without('share')|render }}
  </div>
</div>
