<div class="header">
  <div class="header__logo">joinup</div>
  <div class="header__menu">
    <ul>
      <li><span class="header__menu-icon"></span><span class="header__menu-link">Solutions</span></li>
      <li><span class="header__menu-icon"></span><span class="header__menu-link">Collections</span></li>
      <li><span class="header__menu-icon"></span><span class="header__menu-link">Events</span></li>
    </ul>
  </div>
  </div class="header__search-container">
    <div class="header__search-icon">
    </div>
  </div>
</div>
