// Colors
$color-blue-light: #184f85
$color-blue-dark: #04213e
$color-yellow: #ffec00
$color-blue-medium: #002b8b
$color-orange: #f26d34
$color-green: #51c77d
$color-purple: #2a2348
$color-blue-lighter: #00a2e5

$color-blue-default: #27456b
$color-grey-medium: #787878




// Layout
$container-desktop: 1200px
