{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}

<div{{ attributes.addClass('share-box__item') }}>
  <div class="share-box__item-image">{{ content }}</div>
  <div class="share-box__item-label form__label">{{ label }}</div>
  <div class="share-box__item-icon icon icon--check"></div>
</div>
