{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<article{{ attributes }}>
  <div class="page__content">
    {{ content.field_ad_description }}
    <div class="action-link__wrapper right">
      {{ content.field_ad_access_url }}
    </div>
  </div>
</article>
