{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<article{{ attributes }}>
  <div class="page__content">
    {{ content.field_isr_release_notes }}
    <div class="version-wrapper">{{ content.field_isr_is_version_of }}</div>
  </div>
</article>
{{ content.field_isr_distribution }}
