{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}

<div{{ attributes.addClass('share-box__item') }}>
  <div class="share-box__image">{{ content }}</div>
  <div class="share-box__label">{{ label }}</div>
</div>
