{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<article{{ attributes }}>
  <div class="page__content">
    {{ content.field_ad_description }}
    <div class="action-link__wrapper right is-only-placeholder">
      {# todo: It is only placeholder #}
      <a href="/" class="action-link">{{ 'Download'|t }}</a>
    </div>
  </div>
</article>
