<div class="comment-item comment-item--default mdl-cell mdl-cell--12-col">
  <div class="mdl-grid">
    <div class="comment-item__details details mdl-cell mdl-cell--12-col">
      <div class="details__element">
        <a href="#" class="value gray">Author name</a>
      </div>
      <div class="details__element">
        <div class="value gray">25 days ago</div>
      </div>
    </div>
    <div class="comment-item__avatar center mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
      <img class="avatar avatar--70" src="../../images/demo/user_1.png">
    </div>
    <div class="comment-item__content mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="comment-item__field">
        <p class="comment-item__blockquote">Morbi congue urna nulla, sed euismod quam rutrum non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <p class="comment-item__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a finibus magna. Aliquam vel eros sollicitudin, fermentum purus at, finibus mauris. Quisque id volutpat neque, a sodales urna.</p>
      </div>
      <div class="comment-item__field comment-item__stats">
        <div class="comment-item__stat">
          <span class="comment-item__text">22</span>
          <span class="comment-item__icon icon icon--like"></span>
        </div>
      </div>
    </div>
  </div>
</div>
