<div class="comment-item comment-item--load-more mdl-cell mdl-cell--12-col">
  <a href="#" class="load-more">
    <div class="load-more__wrapper">
      <div class="load-more__icon icon icon--load"></div>
      <div class="load-more__text">Load more</div>
    </div>
  </a>
</div>
