<div class="featured">
  <div class="featured__outer-wrapper">
    <div class="featured__overlay"></div>
    <div class="featured__inner-wrapper">
      <div class="featured__logo">
        <img src="../../images/featured-img.png">
      </div>
      <h1 class="featured__text">Exemplary solution</h1>
      <div class="featured__stats">
        <div class="stats__column">
          <div class="stats__wrapper">
            <span class="stats__text">Licence:</span>
            <span class="stats__text bold underline">EUPL</span>
          </div>
        </div>
        <div class="stats__column">
          <div class="stats__wrapper">
            <span class="stats__text">Downloads:</span>
            <span class="stats__text bold">1234</span>
          </div>
        </div>
      </div>
      <button class="featured__form-button button button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download releases</button>
    </div>
  </div>
  <div class="featured__menu-wrapper">
    <!-- Menu visible on desktop and tablet -->
    <div class="circle-menu circle-menu--tablet">
      <div id="circle-menu__button--tablet" class="circle-menu__button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <span class="icon icon--plus"></span>
      </div>
      <ul class="circle-menu__dropdown mdl-menu mdl-menu--bottom-right mdl-js-menu" for="circle-menu__button--tablet">
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
      </ul>
    </div>

    <!-- Menu visible on mobile -->
    <div class="circle-menu circle-menu--mobile">
      <div id="circle-menu__button--mobile" class="circle-menu__button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <span class="icon icon--plus"></span>
      </div>
      <ul class="circle-menu__dropdown mdl-menu mdl-menu--top-right mdl-js-menu" for="circle-menu__button--mobile">
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
        <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
      </ul>
    </div>
  </div>
</div>
