<div class="section section--featured section--featured-navy-blue">
  <div class="featured--navy-blue mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <div class="featured__navy-blue-wrapper">
        <div class="featured__icon">
          <span class="icon icon--licence"></span>
        </div>
        <h1 class="featured__text featured__text--centered">Joinup Licencing Assistant</h1>
      </div>
    </div>
  </div>
</div>