<div class="filters filters--horizontal filters--solutions center">
  <div class="filter">
    <div class="filter__term">All Solutions (74)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">about:</div>
    <div class="filter__term">eHealth (18)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">of type:</div>
    <div class="filter__term">Type (18)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <button class="filter filter__dropdown-toggle">
    <span class="filter__label underline">Advanced search</span>
  </button>
  <div class="filter__dropdown">
    <div class="search-bar__wrapper">
      <div class="search-bar--section mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="search-bar__label icon icon--search mdl-button mdl-js-button"
          for="search-bar__input">
        </label>
        <input class="search-bar__input mdl-textfield__input" placeholder="Start typing to search..." type="text" name="search"
          id="search-bar__input">
      </div>
    </div>
    <div class="filters filters--horizontal left">
      <div class="filter">
        <div class="filter__term">All Solutions (74)</div>
        <div class="filter__icon icon icon--arrow-down"></div>
      </div>
      <div class="filter">
        <div class="filter__label">about:</div>
        <div class="filter__term">eHealth (18)</div>
        <div class="filter__icon icon icon--arrow-down"></div>
      </div>
      <div class="filter">
        <div class="filter__label">located in:</div>
        <div class="filter__term">Belgium (8)</div>
        <div class="filter__icon icon icon--arrow-down"></div>
      </div>
      <div class="filter">
        <div class="filter__label">sorted by:</div>
        <div class="filter__term">reputation</div>
        <div class="filter__icon icon icon--arrow-down"></div>
      </div>
    </div>
  </div>
</div>