<footer class="section--footer">
  <div class="container">
    <ul class="nav-horizontal text-center">
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">Sitemap</a>
      </li>
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">Terms of use</a>
      </li>
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">About</a>
      </li>
    </ul>
  </div>
</footer>
