<footer class="section section--footer">
  <div class="footer__first">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="row">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <h3 class="vertical-menu__label">Joinup</h3>
                  <ul class="vertical-menu">
                    <li class="vertical-menu__item">
                      <a href="#" class="vertical-menu__link">Contact</a>
                    </li>
                    <li class="vertical-menu__item">
                      <a href="#" class="vertical-menu__link">Site map</a>
                    </li>
                  </ul>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="social-media">
                    <h3 class="social-media__label">Follow us:</h3>
                    <ul class="social-media__menu">
                      <li class="social-media__item">
                        <a href="#" class="social-media__link">
                          <span class="icon icon--facebook"></span>
                          <span class="text">Facebook</span>
                        </a>
                      </li>
                      <li class="social-media__item">
                        <a href="#" class="social-media__link">
                          <span class="icon icon--twitter"></span>
                          <span class="text">Twitter</span>
                        </a>
                      </li>
                      <li class="social-media__item">
                        <a href="#" class="social-media__link">
                          <span class="text">Other social media</span>
                          <span class="icon icon--external"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__second">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <ul class="ec-menu">
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en" class="ec-menu__link">About the Commission's new web presence</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/resources-partners_en" class="ec-menu__link">Resources for partners</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/cookies_en" class="ec-menu__link">Cookies</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/legal-notice_en" class="ec-menu__link">Legal notice</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/contact_en" class="ec-menu__link">Contact</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/europa-analytics_en" class="ec-menu__link">Europa Analytics</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
