<div class="licence-filter licence-filter--must mdl-cell mdl-cell--4-col mdl-cell--2-col-wide">
  <div class="licence__card mdl-card">
    <div class="licence-filter__header">
      <span>Must</span>
    </div>
    <div class="licence-filter__content">
      <ul class="licence-filter__list">
        <li class="licence-filter__item"><a data-licence-category="incl-copyrights" href="#">Incl. Copyright</a></li>
        <li class="licence-filter__item"><a data-licence-category="royalty-free" href="#">Royalty free</a></li>
        <li class="licence-filter__item"><a data-licence-category="state-changes" href="#">State changes</a></li>
        <li class="licence-filter__item"><a data-licence-category="disclose-source" href="#">Disclose source</a></li>
        <li class="licence-filter__item"><a data-licence-category="copyleft-share-a" href="#">Copyleft/Share a.</a></li>
        <li class="licence-filter__item"><a data-licence-category="saas-network" href="#">SaaS/network</a></li>
        <li class="licence-filter__item"><a data-licence-category="include-licence" href="#">Include licence</a></li>
        <li class="licence-filter__item"><a data-licence-category="rename-modifs" href="#">Rename modifs.</a></li>
      </ul>
    </div>
  </div>
</div>
