
<div class="licence-filter licence-filter--can mdl-cell mdl-cell--4-col mdl-cell--2-col-wide">
  <div class="licence__card mdl-card">
    <div class="licence-filter__header">
      <span>Can</span>
    </div>
    <div class="licence-filter__content">
      <ul class="licence-filter__list">
        <li class="licence-filter__item"><a data-licence-category="use-reproduce" href="#" title="Ability to use, copy / reproduce the work freely in unlimited quantities">Use/reproduce</a></li>
        <li class="licence-filter__item"><a data-licence-category="distribute" href="#" title="Ability to distribute the work to third parties freely,  in unlimited quantities">Distribute</a></li>
        <li class="licence-filter__item"><a data-licence-category="modify-merge" href="#" title="Ability to modify / combine the work with others and create derivatives">Modify/merge</a></li>
        <li class="licence-filter__item"><a data-licence-category="sublicence" href="#">Sublicence</a></li>
        <li class="licence-filter__item"><a data-licence-category="commercial-use" href="#">Commercial use</a></li>
        <li class="licence-filter__item"><a data-licence-category="use-patents" href="#">Use patents</a></li>
        <li class="licence-filter__item"><a data-licence-category="place-warranty" href="#">Place warranty</a></li>
      </ul>
    </div>
  </div>
</div>
