
<div class="license-filter license-filter--can mdl-cell mdl-cell--4-col mdl-cell--2-col-wide">
  <div class="licence__card mdl-card">
    <div class="license-filter__header">
      <span>Can</span>
    </div>
    <div class="license-filter__content">
      <ul class="license-filter__list">
        <li class="license-filter__item"><a data-license-category="use-reproduce" href="#" title="Ability to use, copy / reproduce the work freely in unlimited quantities">Use/reproduce</a></li>
        <li class="license-filter__item"><a data-license-category="distribute" href="#" title="Ability to distribute the work to third parties freely,  in unlimited quantities">Distribute</a></li>
        <li class="license-filter__item"><a data-license-category="modify-merge" href="#" title="Ability to modify / combine the work with others and create derivatives">Modify/merge</a></li>
        <li class="license-filter__item"><a data-license-category="sublicense" href="#">Sublicense</a></li>
        <li class="license-filter__item"><a data-license-category="commercial-use" href="#">Commercial use</a></li>
        <li class="license-filter__item"><a data-license-category="use-patents" href="#">Use patents</a></li>
        <li class="license-filter__item"><a data-license-category="place-warranty" href="#">Place warranty</a></li>
      </ul>
    </div>
  </div>
</div>
