<div class="listing__item listing__item--tile licence-tile mdl-cell mdl-cell--12-col mdl-cell--12-col-wide" data-spdx="CC-BY-NC-ND-1.0" data-licence-category="use-reproduce distribute modify-merge incl-copyrights commerce modify">
  <div class="listing__card listing__card--inline-container mdl-card">
    <div class="listing__inner-tile listing__inner-tile--shifted">
      <div class="listing__field">
        <h2 class="listing__title licence-tile__title"><span class="icon icon--licence"></span>CC-BY-NC-ND-2.0</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Creative Commons Attribution Non Commercial 2.0 Generic</p>
      </div>
    </div>
  </div>
  <div class="listing__card listing__card--inline-container mdl-card">
    <div class="listing__inner-tile listing__inner-tile--wider">
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--can">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Can:
            </span>
          </div>
          <div class="licence-tile__value">
            <span title="Ability to use, copy / reproduce the work freely in unlimited quantities">Use/reproduce</span>,
            <span>Distribute</span>,
            <span title="Ability to modify / combine the work with others and create derivatives">Modify/merge</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--must">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Must:
            </span>
          </div>
          <div class="licence-tile__value">
            <span>Incl. Copyrights</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--cannot">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Cannot:
            </span>
          </div>
          <div class="licence-tile__value">
            <span>Commerce</span>, <span class="commerce">Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--compatible">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Compatible:
            </span>
          </div>
          <div class="licence-tile__value">
            <span>Commerce</span>, <span class="commerce">Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--law">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Law:
            </span>
          </div>
          <div class="licence-tile__value">
            <span>Commerce</span>, <span>Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="licence-tile__line licence-tile__line--support">
          <div class="licence-tile__label-wrapper">
            <span class="licence-tile__label">
              Support:
            </span>
          </div>
          <div class="licence-tile__value">
            <span>Commerce</span>, <span class="commerce">Modify</span>
          </div>
        </div>
      </div>
    </div>
    <div class="listing__metadata listing__metadata--licence">
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa. Cras rhoncus et nunc at porttitor. Sed dignissim porta leo vel volutpat. Pellentesque tincidunt urna ac venenatis hendrerit. Quisque id lacus urna. Aliquam ac lorem diam.</p>
      </div>
      <a href="https://spdx.org/licences/Entessa.html#licenceText" class="licence-tile__button" target="_blank">Licence Text</a>
    </div>
  </div>
</div>