
<div class="license-filter license-filter--green mdl-cell mdl-cell--4-col mdl-cell--2-col-wide">
  <div class="licence__card mdl-card">
    <div class="license-filter__header">
      <span>Can</span>
    </div>
    <div class="license-filter__content">
      <ul class="license-filter__list">
        <li class="license-filter__item"><a href="#">Use/reproduce</a></li>
        <li class="license-filter__item"><a href="#">Distribute</a></li>
        <li class="license-filter__item"><a href="#">Modify/merge</a></li>
        <li class="license-filter__item"><a href="#">Sublicense</a></li>
        <li class="license-filter__item"><a href="#">Commercial use</a></li>
        <li class="license-filter__item"><a href="#">Use patents</a></li>
        <li class="license-filter__item"><a href="#">Place warranty</a></li>
      </ul>
    </div>
  </div>
</div>
