
<div class="licence-filter licence-filter--law mdl-cell mdl-cell--4-col mdl-cell--2-col-wide">
  <div class="licence__card mdl-card">
    <div class="licence-filter__header">
      <span>Law</span>
    </div>
    <div class="licence-filter__content">
      <ul class="licence-filter__list">
        <li class="licence-filter__item"><a href="#">Incl. Copyright</a></li>
        <li class="licence-filter__item"><a href="#">Royalty free</a></li>
        <li class="licence-filter__item"><a href="#">State changes</a></li>
        <li class="licence-filter__item"><a href="#">Disclose source</a></li>
        <li class="licence-filter__item"><a href="#">Copyleft/Share a.</a></li>
        <li class="licence-filter__item"><a href="#">SaaS/network</a></li>
        <li class="licence-filter__item"><a href="#">Include licence</a></li>
        <li class="licence-filter__item"><a href="#">Rename modifs.</a></li>
      </ul>
    </div>
  </div>
</div>
