<div class="listing__item listing__item--tile license-tile mdl-cell mdl-cell--12-col mdl-cell--12-col-wide" data-spdx="CC-BY-NC-ND-3.0" data-license-category="use-reproduce distribute disclose-source include-licence commerce modify">
  <div class="listing__card listing__card--inline-container mdl-card">
    <div class="listing__inner-tile listing__inner-tile--shifted">
      <div class="listing__field">
        <h2 class="listing__title license-tile__title"><span class="icon icon--licence"></span>CC-BY-NC-ND-3.0</h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Creative Commons Attribution Non Commercial 3.0 Generic</p>
      </div>
      <a href="https://spdx.org/licenses/Entessa.html#licenseText" class="license-tile__button" target="_blank">License Text</a>
    </div>
    <div class="listing__inner-tile listing__inner-tile--wider">
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--can">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Can:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Use/reproduce</span>, <span>Distribute</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--must">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Must:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Disclose source</span>, <span>Include licence</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--cannot">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Cannot:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Commerce</span>, <span>Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--compatible">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Compatible:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Commerce</span>, <span>Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--law">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Law:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Commerce</span>, <span>Modify</span>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <div class="license-tile__line license-tile__line--support">
          <div class="license-tile__label-wrapper">
            <span class="license-tile__label">
              Support:
            </span>
          </div>
          <div class="license-tile__value">
            <span>Commerce</span>, <span>Modify</span>
          </div>
        </div>
      </div>
    </div>
    <div class="listing__metadata">
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa. Cras rhoncus et nunc at porttitor. Sed dignissim porta leo vel volutpat. Pellentesque tincidunt urna ac venenatis hendrerit. Quisque id lacus urna. Aliquam ac lorem diam.</p>
      </div>
    </div>
  </div>
</div>