<div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col mdl-cell--9-col-wide">
  <div class="listing__card listing__card--inline-container mdl-card">
    <div class="listing__image listing__image--default">
      <span class="icon icon--play"></span>
    </div>
    <div class="listing__metadata">
      <div class="listing__field">
        <a href="#" class="listing__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">
          Fusce in erat consectetur nisl eleifend eleifend id sit amet purus. Aliquam molestie nunc vulputate sapien sodales euismod. Nam sodales nunc eu mattis suscipit. Maecenas vestibulum aliquet eros.
        </p>
      </div>
    </div>
  </div>
</div>
