<div class="listing__item listing__item--tile listing__item--newsletter mdl-cell mdl-cell--4-col">
  <div class="listing__card mdl-card">
    <div class="listing__wrapper">
      <div class="listing__field">
        <h3>Newsletter</h3>
        <p>Keep in touch with Joinup</p>
      </div>
      <div class="listing__fields--bottom-aligned">
        <div class="listing__field">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Email address</label>
          </div>
        </div>
        <div class="listing__field">
          <button class="button button--full-width button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Subscribe</button>
        </div>
      </div>      
    </div>
  </div>
</div>
