<div class="listing__item listing__item--load-more mdl-cell mdl-cell--4-col">
  <a href="#" class="load-more">
    <div class="load-more__wrapper">
      <div class="load-more__icon icon icon--load"></div>
      <div class="load-more__text">Load more</div>
    </div>
  </a>
</div>