<div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col mdl-cell--9-col-wide">
  <div class="listing__card listing__card--stats-container listing__card--inline-containers mdl-card">
    <div class="listing__image">
      <img src="../../images/demo/tile_2.png">
    </div>
    <div class="listing__metadata">
      <div class="listing__field">
        <h2 class="listing__title">Optimy<span class="icon icon--out"></span></h2>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa. Cras rhoncus et nunc at porttitor. Sed dignissim porta leo vel volutpat. Pellentesque tincidunt urna ac venenatis hendrerit. Quisque id lacus urna. Aliquam ac lorem diam.</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        <div class="listing__stat">
          <span class="listing__text">15/06/16</span>
          <span class="listing__icon icon icon--events"></span>
        </div>
        <div class="listing__stat">
          <span class="listing__text">BE</span>
          <span class="listing__icon icon icon--location"></span>
        </div>
      </div>
    </div>
  </div>
</div>
