<div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
  <div class="listing__card listing__card--detail-container mdl-card">
    <div class="listing__metadata">
      <div class="listing__field">
        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
      </div>
      <div class="listing__field">
        <div class="label gray">Weight:</div>
        <div class="value bold">24MB</div>
      </div>
      <div class="listing__field">
        <div class="label gray">OS:</div>
        <div class="value bold underline">Linux</div>
      </div>
      <div class="listing__field">
        <div class="label gray">Licence:</div>
        <div class="value bold underline">EUPL</div>
      </div>
      <div class="listing__action-link__wrapper action-link__wrapper center">
        <a href="/" class="listing__action-link action-link">Details</a>
        <a href="/" class="listing__action-link action-link">Download</a>
      </div>
    </div>
  </div>
</div>
