<div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
  <div class="listing__card listing__card--inline-containers mdl-card">
    <div class="listing__image listing__image--default">
      <span class="icon icon--mime-pdf"></span>
    </div>
    <div class="listing__metadata">
      <div class="listing__field">
        <a href="/" class="listing__title">User_manual.pdf</a>
      </div>
      <div class="listing__field">
        <div class="details">
          <div class="details__element">
            <div class="value">2 MB</div>
          </div>
          <div class="details__element">
            <div class="value">PDF</div>
          </div>
        </div>
      </div>
      <div class="listing__field">
        <p class="listing__teaser">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat sagittis odio ac tempus.
        </p>
      </div>
      <div class="listing__action-link__wrapper action-link__wrapper right">
        <a href="/" class="listing__action-link action-link">Download</a>
      </div>
    </div>
  </div>
</div>
