<div class="sidebar-menu">
  <button id="sidebar-menu__button" class="sidebar-menu__button sidebar-menu__button--mobile mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>
  <nav class="mdl-menu mdl-menu--bottom-left mdl-js-menu sidebar-menu__container" for="sidebar-menu__button">
    <ul class="menu">
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="#">Menu item</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="#">Menu item</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="#">Menu item</a></li>
    </ul>
  </nav>
</div>
