<div class="sidebar-menu">
  <button id="sidebar-menu__button" class="sidebar-menu__button sidebar-menu__button--mobile mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>
  <button id="sidebar-menu__button-desktop" class="sidebar-menu__button sidebar-menu__button--desktop mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>

  <nav class="mdl-menu mdl-menu--bottom-left mdl-js-menu sidebar-menu__container" for="sidebar-menu__button">
    <ul class="menu">
    	<li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution.html">Overview</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-distribution.html">Distribution</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-release.html">Release</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-download.html">Download</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-events.html">Events</a></li>
      <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-about.html">About</a></li>
    </ul>
  </nav>
</div>
