<div class="sidebar-menu">
  <button id="sidebar-menu__button" class="sidebar-menu__button mdl-button mdl-js-button mdl-button--icon">
    <span class="icon icon--menu"></span>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="sidebar-menu__button">
  	<li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution.html">Overview</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-distribution.html">Distribution</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-release.html">Release</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-download.html">Download</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-events.html">Events</a></li>
    <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="../html-prototype/solution-about.html">About</a></li>
  </ul>
</div>
