<div class="tab__container tab__container--wide">
  <a class="tab tab--content-type is-active">
    <span class="tab__content">
      <span class="tab__icon icon icon--news"></span>
      <span class="tab__text">
        <span class="tab__text--upper">155</span>
        <span class="tab__text--lower">News</span>
      </span>
    </span>
  </a>
  <a class="tab tab--content-type">
    <span class="tab__content">
      <span class="tab__icon icon icon--solutions"></span>
      <span class="tab__text">
        <span class="tab__text--upper">74</span>
        <span class="tab__text--lower">Solutions</span>
      </span>
    </span>
  </a>
  <a class="tab tab--content-type">
    <span class="tab__content">
      <span class="tab__icon icon icon--business-case"></span>
      <span class="tab__text">
        <span class="tab__text--upper">42</span>
        <span class="tab__text--lower">business cases</span>
      </span>
    </span>
  </a>
  <a class="tab tab--more">
    <span class="tab__text">More</span>
    <span class="tab__icon icon icon--arrow-down"></span>
  </a>
</div>
