{#
/**
 * @file
 * Template to render the buttons separated form.
 * The form content and action buttons are separated.
 *
 * Available variables:
 * - form: the form build array.
 *
 * @ingroup themeable
 */
#}
<div class="form__content">
  {{ form|without('actions') }}
</div>
{{ form.actions }}