{#
/**
 * @file
 * Template to render the share content form.
 *
 * Note that the form tag will be added through a theme wrapper.
 *
 * Available variables:
 * - form: the form build array.
 *
 * @ingroup themeable
 */
#}
{{ form|without('leave') }}

{# Dropdown menu for leave link. #}
{% if form.leave %}
  <div class="dropdown-menu">
    <a id="you_are_member" class="dropdown-menu__button button button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      {{ "You're a member"|t }}
    </a>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="you_are_member">
      <li class="dropdown-menu__item mdl-menu__item">{{ form.leave }}</li>
    </ul>
  </div>
{% endif %}