{#
/**
 * @file
 * Theme implementation for displaying a single search result coming from Search API field.
 *
 * @ingroup themeable
 */
#}
<div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
  {{ item }}
</div>
