<div style="background-color: #e9edee;">
  <div class="listing listing--grid mdl-grid">
    <div class="listing__item listing__item--tile mdl-cell mdl-cell--6-col">
      <div class="listing__card listing__card--stats-container mdl-card">
        <div class="listing__image icon-card icon-card--grey">
          <a href="#" class="icon-card__link">
            <span class="icon-card__inner">
              <span class="icon-card__icon--small icon icon--play"></span>
            </span>
          </a>
        </div>
        <div class="listing__metadata">
          <div class="listing__field">
            <h2 class="listing__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
          </div>
          <div class="listing__field listing__stats mdl-card__actions">
            <div class="listing__stat">
              <span class="listing__text">22</span>
              <span class="listing__icon icon icon--like"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="listing__item listing__item--tile mdl-cell mdl-cell--6-col">
      <div class="listing__card listing__card--stats-container mdl-card">
        <div class="listing__image icon-card icon-card--grey">
          <a href="#" class="icon-card__link">
            <span class="icon-card__inner">
              <span class="icon-card__icon--small icon icon--play"></span>
            </span>
          </a>
        </div>
        <div class="listing__metadata">
          <div class="listing__field">
            <h2 class="listing__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
          </div>
          <div class="listing__field listing__stats mdl-card__actions">
            <div class="listing__stat">
              <span class="listing__text">22</span>
              <span class="listing__icon icon icon--like"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
