{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}
<div{{ attributes }}>
  {% if data.preview is defined and data.preview is not empty %}
    <div>
        <div class="image-library-widget-link preview">
        {{- data.preview -}}
        </div>
    </div>
  {% endif %}
  {# Render widget data without the image preview that was output already. #}
  <div class="image-widget-content">
  {{ data|without('preview') }}
  </div>
</div>
