{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="listing listing--grid mdl-grid">
  {% for row in rows %}
    {%
      set row_classes = [
        'listing__item',
        'listing__item--tile',
        'mdl-cell',
        row.content['#view_mode'] == 'view_mode_tile' ? 'mdl-cell--4-col',
        row.content['#view_mode'] == 'view_mode_featured' ? 'mdl-cell--12-col',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
  <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col mdl-grid listing__item--create-tile">
    {% include directory ~ '/templates/parts/rdf-entity--collection--listing-item--add-collection.html.twig' %}
  </div>
</div>
