<div class="circle-menu circle-menu--mobile">
  <div id="circle-menu__button--mobile" class="circle-menu__button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <span class="icon icon--plus"></span>
  </div>
  <ul class="circle-menu__dropdown mdl-menu mdl-menu--top-right mdl-js-menu" for="circle-menu__button--mobile">
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
  </ul>
</div>

<div class="circle-menu circle-menu--tablet">
  <div id="circle-menu__button--tablet" class="circle-menu__button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <span class="icon icon--plus"></span>
  </div>
  <ul class="circle-menu__dropdown mdl-menu mdl-menu--bottom-left mdl-js-menu" for="circle-menu__button--tablet">
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Menu item</a></li>
  </ul>
</div>

<!-- For styleguide purpose -->
<style>
  .body {
    height: 300px;
  }
  .circle-menu--mobile {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
</style>