<div class="circle-menu {$modifiers}">
  <div class="circle-menu__button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <span class="icon icon--plus"></span>
  </div>
  <ul class="circle-menu__dropdown mdl-menu mdl-menu--bottom-right mdl-js-menu">
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Item #1</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Item #2</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Item #3</a></li>
    <li class="circle-menu__item mdl-menu__item"><a class="circle-menu__link" href="#">Item #4</a></li>
  </ul>
</div>