<div class="file-upload form-item">
  <div class="file-upload__label form__label">Label of the exemplary file upload</div>
  <div class="file-upload__wrapper">
    <h2 class="file-upload__heading">Drop file here to attach or</h2>
    <span class="file-upload__button button button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Select file</span>
    <div class="file-upload__description">8 MB limit. Allowed types: doc docx ppt pptx xls xlsx.</div>
  </div>
</div>