<div class="filters">
  <div class="filter">
    <div class="filter__term">Term without label (74)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">label:</div>
    <div class="filter__term">Term (5)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
  <div class="filter">
    <div class="filter__label">label:</div>
    <div class="filter__term">Term (18)</div>
    <div class="filter__icon icon icon--arrow-down"></div>
  </div>
</div>
