<ul class="filters">
  <li class="filter">
    <span class="filter__term">Term without label (74)</span>
    <span class="filter__icon icon icon--arrow-down"></span>
  </li>
  <li class="filter">
    <span class="filter__label">label:</span>
    <span class="filter__term">Term (5)</span>
    <span class="filter__icon icon icon--arrow-down"></span>
  </li>
  <li class="filter">
    <span class="filter__label">label:</span>
    <span class="filter__term">Term (18)</span>
    <span class="filter__icon icon icon--arrow-down"></span>
  </li>
</ul>
