<footer class="section section--footer">
  <div class="footer__first">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <!-- The number of the columns should be 4; used 12 only for styleguide purpose -->
          <div class="mdl-cell mdl-cell--12-col">
            <div class="social-media">
              <ul class="social-media__menu">
                <li class="social-media__item">
                  <h3 class="social-media__label">Follow us</h3>
                </li>
                <li class="social-media__item">
                  <a href="http://www.facebook.com/pages/Joinupeu/396418313771536" class="social-media__link" target="_blank">
                    <span class="icon icon--facebook"></span>
                    <span class="text">Facebook</span>
                  </a>
                </li>
                <li class="social-media__item">
                  <a href="http://www.linkedin.com/groups?gid=2600644" class="social-media__link" target="_blank">
                    <span class="icon icon--linkedin"></span>
                    <span class="text">LinkedIn</span>
                  </a>
                </li>
                <li class="social-media__item">
                  <a href="http://twitter.com/Joinup_eu" class="social-media__link" target="_blank">
                    <span class="icon icon--twitter"></span>
                    <span class="text">Twitter</span>
                  </a>
                </li>
                <li class="social-media__item">
                  <a href="https://plus.google.com/u/0/112425910159190972709/posts" class="social-media__link" target="_blank">
                    <span class="icon icon--gplus"></span>
                    <span class="text">Google+</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
