<header class="section section--header">
  <div class="mdl-layout__header-row">
    <nav class="header-menu mdl-navigation">
      <a class="header-menu__link mdl-navigation__link" href="#">
        <span class="header-menu__wrapper">
          <span class="header-menu__icon icon icon--solutions"></span>
          <span class="header-menu__text">Solutions</span>            
        </span>
      </a>
      <a class="header-menu__link mdl-navigation__link is-active" href="#">
        <span class="header-menu__wrapper">
          <span class="header-menu__icon icon icon--collections"></span>
          <span class="header-menu__text">Collections</span>
        </span>
      </a>
      <a class="header-menu__link mdl-navigation__link" href="#">
        <span class="header-menu__wrapper">
          <span class="header-menu__icon icon icon--events"></span>
          <span class="header-menu__text">Events</span>
        </span>
      </a>
    </nav>
  </div>
</header>
