<link rel="stylesheet" href="../_inline-social-media.sass">
<style>
  .inline-social-media {
    background: #27456b;
    padding: 10px;
  }
  .visually-hidden {
    display: none;
  }
</style>
<ul class="inline-social-media">
  <li class="inline-social-media__item">
    <a href="#" class="inline-social-media__link" target="_blank">
      <span class="icon icon--facebook"></span>
      <span class="visually-hidden">Facebook</span>
    </a>
  </li>
  <li class="inline-social-media__item">
    <a href="#" class="inline-social-media__link" target="_blank">
      <span class="icon icon--linkedin"></span>
      <span class="visually-hidden">LinkedIn</span>
    </a>
  </li>
  <li class="inline-social-media__item">
    <a href="#" class="inline-social-media__link" target="_blank">
      <span class="icon icon--twitter"></span>
      <span class="visually-hidden">Twitter</span>
    </a>
  </li>
  <li class="inline-social-media__item">
    <a href="#" class="inline-social-media__link" target="_blank">
      <span class="icon icon--gplus"></span>
      <span class="visually-hidden">Google+</span>
    </a>
  </li>
</ul>
