<div class="listing listing--grid mdl-grid">
  <div class="listing__item listing__item--tile mdl-card">
    <div class="listing__field listing__field--image-wrapper">
      <img class="listing__image" src="../images/tile-image.png">
    </div>
    <div class="listing__field">
      <img class="listing__avatar" src="../images/login-icon.png">
    </div>
    <div class="listing__field">
      <h2 class="listing__title">Optimy</h2>
    </div>
    <div class="listing__field">
      <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenan convallis.</p>
    </div>
    <div class="listing__field mdl-card__actions">
      <div class="listing__icons">
        <div class="listing__icons-item listing__icons-item--solutions">
          154
        </div>
        <div class="listing__icons-item listing__icons-item--members">
          13
        </div>
        <div class="listing__icons-item listing__icons-item--like">
          22
        </div>
      </div>
    </div>
  </div>
</div>
