<div style="background-color: #e9edee;">
  <div class="listing listing--grid mdl-grid">
    <div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
      <div class="listing__card listing__card--stats-container listing__card--inline-container mdl-card">
        <div class="listing__image">
          <img src="../images/demo/tile_1.png">
        </div>
        <div class="listing__metadata">
          <div class="listing__field">
            <h2 class="listing__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
          </div>
          <div class="listing__field">
            <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa.</p>
          </div>
          <div class="listing__field listing__stats mdl-card__actions">
            <div class="listing__stat">
              <span class="listing__text">154</span>
              <span class="listing__icon icon icon--download"></span>
            </div>
            <div class="listing__stat">
              <span class="listing__text">13</span>
              <span class="listing__icon icon icon--user"></span>
            </div>
            <div class="listing__stat">
              <span class="listing__text">22</span>
              <span class="listing__icon icon icon--like"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
      <div class="listing__card listing__card--stats-container listing__card--inline-container mdl-card">
        <div class="listing__image">
          <img src="../images/demo/tile_2.png">
        </div>
        <div class="listing__metadata">
          <div class="listing__field">
            <h2 class="listing__title">Lorem ipsum dolor sit amet</h2>
          </div>
          <div class="listing__field">
            <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa. Cras rhoncus et nunc at porttitor. Sed dignissim porta leo vel volutpat. Pellentesque tincidunt urna ac venenatis hendrerit. Quisque id lacus urna. Aliquam ac lorem diam.</p>
          </div>
          <div class="listing__field listing__stats mdl-card__actions">
            <div class="listing__stat">
              <span class="listing__text">154</span>
              <span class="listing__icon icon icon--download"></span>
            </div>
            <div class="listing__stat">
              <span class="listing__text">13</span>
              <span class="listing__icon icon icon--user"></span>
            </div>
            <div class="listing__stat">
              <span class="listing__text">22</span>
              <span class="listing__icon icon icon--like"></span>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>