<div class="login-menu">
  <div id="login-menu__button" class="login-menu__button mdl-button mdl-js-button">
    <img src="../images/login-icon.png">
  </div>
  <ul class="login-menu__dropdown mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="login-menu__button">
    <li class="mdl-menu__item"><a class="login-menu__link" href="#">My profile</a></li>
    <li class="mdl-menu__item"><a class="login-menu__link" href="#">My page</a></li>
    <li class="mdl-menu__item"><a class="login-menu__link" href="#">Logout</a></li>
  </ul>
</div>
