<nav class="pager" role="navigation" style="margin-bottom: 40px;">
  <ul class="pager__list">
    <li class="pager__item pager__item--first">
      <a class="pager__link" href="#" title="Go to first page">
        <span class="icon icon--first"></span>
      </a>
    </li>
    <li class="pager__item pager__item--previous">
      <a class="pager__link" href="#" title="Go to previous page">
        <span class="icon icon--previous"></span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 1">
        <span class="text">1</span>
      </a>
    </li>
    <li class="pager__item pager__item--active">
      <a class="pager__link" href="#" title="Current page">
        <span class="text">2</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 3">
        <span class="text">3</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 4">
        <span class="text">4</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 5">
        <span class="text">5</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 6">
        <span class="text">6</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 7">
        <span class="text">7</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 8">
        <span class="text">8</span>
      </a>
    </li>
    <li class="pager__item pager__item--inactive">
      <a class="pager__link" href="#" title="Go to page 9">
        <span class="text">9</span>
      </a>
    </li>
    <li class="pager__item pager__item--ellipsis">
      <span class="text">…</span>
    </li>
    <li class="pager__item pager__item--next">
      <a class="pager__link" href="#" title="Go to next page">
        <span class="icon icon--next"></span>
      </a>
    </li>
    <li class="pager__item pager__item--last">
      <a class="pager__link" href="#" title="Go to last page">
        <span class="icon icon--last"></span>
      </a>
    </li>
  </ul>
</nav>