<div class="tabs--content-type">
  <a class="tab--content-type">
    <div class="tab__icon icon icon--news"></div>
    <div class="tab__text">
      <div class="tab__text--upper">15</div>
      <div class="tab__text--lower">News</div>
    </div>
  </a>
  <a class="tab--content-type is-active">
    <div class="tab__icon icon icon--events"></div>
    <div class="tab__text">
      <div class="tab__text--upper">8</div>
      <div class="tab__text--lower">Events</div>
    </div>
  </a>
  <a class="tab--content-type">
    <div class="tab__icon icon icon--business-case"></div>
    <div class="tab__text">
      <div class="tab__text--upper">112</div>
      <div class="tab__text--lower">Business cases</div>
    </div>
  </a>
  <a class="tab--more">
    <div class="tab__text">More</div>
    <div class="tab__icon icon icon--arrow-down"></div>
  </a>
</div>
