<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include section--header.html %}

      <div class="main-container mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
          <div class="section section--content mdl-cell mdl-cell--10-col">
            <h1 class="page__title">About</h1>
            <div class="page__content">

            <h1 style="margin-top: 0">Headings</h1>

            {% include headings.html %}

            <h1>Paragraphs</h1>

            {% include paragraph.html %}

            <h1>Blockquote</h1>

            {% include blockquote.html %}

            <h1>Lists</h1>

            {% include lists.html %}

            <h1>Table</h1>

            {% include table.html %}

            </div>
          </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
      </div>

      {% include section--footer.html %}

      {% include scripts.html %}

    </div>
  </body>
</html>