<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include section--header.html %}

    <div class="main-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">

      {% include alerts.html %}

      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
    </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>