<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--featured">
        <div class="featured">
          <div class="featured__outer-wrapper" style="background-image: url('../images/featured-bg.jpg') !important;">
            <div class="featured__overlay"></div>
            <div class="featured__inner-wrapper">
              <div class="featured__logo">
                <img src="../images/featured-img.png">
              </div>
              <h1 class="featured__text">Querying the <br/>semantic web</h1>
              <div class="featured__stats">
                <div class="stats__column stats__column--border stats__column--wide">
                  <div class="stats__wrapper stats__wrapper--centered">
                    <span class="stats__text">Activity</span>
                  </div>
                  <div class="stats__wrapper stats__wrapper--centered">
                    <span class="stats__text bold">Medium</span>
                  </div>
                </div>
                <div class="stats__column stats__column--wide stats__column--icons">
                  <div class="stats__wrapper">
                    <span class="stats__icon icon icon--user"></span>
                    <span class="stats__text">13 Members</span>
                  </div>
                  <div class="stats__wrapper">
                    <span class="stats__icon icon icon--solutions"></span>
                    <span class="stats__text">124 Solutions</span>
                  </div>
                </div>
              </div>
              <form class="featured__form-button">
                <input class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Join this collection"></input>
              </form>
            </div>
          </div>
          <div class="featured__menu-wrapper">
            {% include circle-menu.html %}
          </div>
          </div>
        </div>
      <div class="main-container mdl-grid">
        <div class="section section--sidebar-left mdl-cell mdl-cell--2-col">
          <div class="sidebar-menu">
            <button id="sidebar-menu__button" class="sidebar-menu__button mdl-button mdl-js-button">
              <span class="icon icon--menu"></span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="sidebar-menu__button">
              <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/login">Login</a></li>
              <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/about">About</a></li>
              <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/alerts">Alerts</a></li>
              <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/form">Form elements</a></li>
            </ul>
          </div>


        </div>

        <div class="section section--content mdl-cell mdl-cell--8-col">
          <div class="container-fluid">

            {% include tab--content-type.html %}

            {% include filters.html %}

            {% include listing.html %}

          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

  </body>
</html>
