<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="bg--blue">
        <div class="main-container mdl-grid">
          <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <h1 class="page__title">
              <span class="icon icon--plus"></span>
              Form
            </h1>
          </div>
        </div>
      </div>
      <div class="main-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">

        {% include sidebar-tabs.html %}

        </div>
        <div class="section section--content mdl-cell mdl-cell--8-col">
          <div class="page__content">

            <h1 style="margin-top: 0">Inputs</h1>

            {% include input.html %}

            <h1>Checkboxes</h1>

            {% include checkbox.html %}

            <h1>Radios</h1>

            {% include radio.html %}

            <h1>Upload</h1>

            {% include file-upload.html %}

            <h1>Draggable</h1>

            {% include draggable.html %}

            <p>&nbsp;</p>

            <div class="button__no-bg-wrapper button__no-bg-wrapper--circle">
              <span class="icon icon--plus"></span>
              <input class="button__no-bg button__no-bg--blue" value="Add another item" />
            </div>

          </div>

          <div class="form__actions">
            <button class="button--default button--transparent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
            <button class="button--default button--transparent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save as draft</button>
            <button class="button--default button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right">Publish</button>
          </div>
        </div>
      </div>

      {% include section--footer.html %}

      {% include scripts.html %}

    </div>
  </body>
</html>
