<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="bg--blue">
        <div class="main-container mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>
          <div class="mdl-cell mdl-cell--10-col">
            <h1 class="page__title">
              <span class="icon icon--plus"></span>
              Form
            </h1>
          </div>
          <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
      </div>
      <div class="main-container mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
          <div class="section section--content mdl-cell mdl-cell--10-col">
            <div class="page__content">

              <h1 style="margin-top: 0">Inputs</h1>

              {% include input.html %}

              <h1>Checkboxes</h1>

              {% include checkbox.html %}

              <h1>Radios</h1>

              {% include radio.html %}

              <h1>Upload</h1>

              {% include file-upload.html %}

              <h1>Draggable</h1>

              {% include draggable.html %}

            </div>
          </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
      </div>

      {% include section--footer.html %}

      {% include scripts.html %}

    </div>
  </body>
</html>