<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include section--header.html %}

    <div class="bg--blue">
      <div class="main-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
          <h1 class="page__title">Sign in to Joinup</h1>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>
    </div>
    <div class="main-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="section section--content mdl-cell mdl-cell--8-col">
        <div class="page__content">
          <div class="textfield--full-width textfield--helptext-container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Username</label>
            <span class="textfield__helptext">Enter your Joinup username.</span>
          </div>
          <div class="textfield--full-width textfield--helptext-container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Password</label>
            <span class="textfield__helptext">Enter the password that accompanies your username.</span>
          </div>
        </div>
        <div class="form__actions">
          <button class="button--default button--full-width button--blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign in</button>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
    </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>
