<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--featured">
        <div class="featured">
          <div class="featured__wrapper">
            <div class="featured__logo">
              <img src="../images/featured-img.png">
            </div>
            <h1 class="featured__text">Exemplary solution</h1>
            <div class="featured__stats">
              <div class="stats__column">
                <div class="stats__wrapper">
                  <span class="stats__text">Licence:</span>
                  <span class="stats__text bold underline">EUPL</span>
                </div>
              </div>
              <div class="stats__column">
                <div class="stats__wrapper">
                  <span class="stats__text">Downloads:</span>
                  <span class="stats__text bold">1234</span>
                </div>
              </div>
            </div>
            <button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download</button>

            {% include circle-menu.html %}

            <!-- Menu visible on tablet and mobile -->

            {% include featured-menu--solutions.html %}

          </div>
          <div class="featured__overlay"></div>
        </div>
      </div>
      <div class="section section--content">
        <div class="main-container mdl-grid">
          <div class="section section--sidebar-left mdl-cell mdl-cell--2-col">

            {% include sidebar-menu--solutions.html %}

          </div>
          <div class="section section--main mdl-cell mdl-cell--8-col">
            <h1 class="page__title">About</h1>
            <div class="page__content">

            {% include paragraph.html %}

            {% include paragraph.html %}

            {% include blockquote.html %}

            {% include paragraph.html %}

            {% include paragraph.html %}

            </div>
            <div class="row">

              {% include listing--related.html %}
              
            </div>
          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>