<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--pre-content">
        <div class="announcement">
          <div class="main-container mdl-grid">
            <div class="announcement__content mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium fringilla metus ac imperdiet. Aliquam imperdiet maximus libero at semper. Maecenas in egestas mi, eu placerat diam. In vitae mattis tortor. Curabitur felis magna, tincidunt a ultricies id, malesuada in mi. Sed facilisis dapibus neque, eu aliquet libero aliquet eu. Duis gravida tortor eu orci pulvinar, sed hendrerit ipsum lobortis. In finibus condimentum dignissim.
            </div>
          </div>
        </div>
      </div>
      <div class="section section--content">
        <div class="main-container mdl-grid">
          <div class="section section--main mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="filters filters--horizontal filters--solutions left">
              <div class="filter">
                <div class="filter__term">All Solutions (74)</div>
                <div class="filter__icon icon icon--arrow-down"></div>
              </div>
              <div class="filter">
                <div class="filter__label">about:</div>
                <div class="filter__term">eHealth (18)</div>
                <div class="filter__icon icon icon--arrow-down"></div>
              </div>
              <div class="filter">
                <div class="filter__label">of type:</div>
                <div class="filter__term">Type (18)</div>
                <div class="filter__icon icon icon--arrow-down"></div>
              </div>
              <button class="filter filter__dropdown-toggle">
                <span class="filter__label underline">Advanced search</span>
              </button>
              <div class="filter__dropdown">
                <div class="search-bar__wrapper">
                  <div class="search-bar--section mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="search-bar__label icon icon--search mdl-button mdl-js-button"
                      for="search-bar__input">
                    </label>
                    <input class="search-bar__input mdl-textfield__input" placeholder="Start typing to search..." type="text" name="search"
                      id="search-bar__input">
                  </div>
                </div>
                <div class="filters filters--horizontal left">
                  <div class="filter">
                    <div class="filter__term">All Solutions (74)</div>
                    <div class="filter__icon icon icon--arrow-down"></div>
                  </div>
                  <div class="filter">
                    <div class="filter__label">about:</div>
                    <div class="filter__term">eHealth (18)</div>
                    <div class="filter__icon icon icon--arrow-down"></div>
                  </div>
                  <div class="filter">
                    <div class="filter__label">located in:</div>
                    <div class="filter__term">Belgium (8)</div>
                    <div class="filter__icon icon icon--arrow-down"></div>
                  </div>
                  <div class="filter">
                    <div class="filter__label">sorted by:</div>
                    <div class="filter__term">reputation</div>
                    <div class="filter__icon icon icon--arrow-down"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              {% include listing.html %}

            </div>
          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>
