<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--featured">
        <div class="featured">
          <div class="featured__wrapper">
            <div class="featured__logo">
              <img src="../images/featured-img.png">
            </div>
            <h1 class="featured__text">Exemplary solution</h1>
            <div class="featured__stats">
              <div class="stats__column">
                <div class="stats__wrapper">
                  <span class="stats__text">Downloads:</span>
                  <span class="stats__text bold">1234</span>
                </div>
              </div>
            </div>
            <button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download releases</button>

            {% include circle-menu.html %}

            <!-- Menu visible on tablet and mobile -->

            {% include featured-menu--solutions.html %}
            
          </div>
          <div class="featured__overlay"></div>
        </div>
      </div>
      <div class="section section--content">
        <div class="main-container mdl-grid">
          <div class="section section--sidebar-left mdl-cell mdl-cell--2-col">

            {% include sidebar-menu--solutions.html %}

          </div>
          <div class="section section--main mdl-cell mdl-cell--8-col">       
            <div class="page__title">
              <h1>Oasis UBL v2.1</h1>
              <div class="etiquette etiquette--blue">Latest release</div>
              <div class="details details--solution">
                <div class="details__element">
                  <div class="value gray underline">dc9ee36</div>
                </div>
                <div class="details__element">
                  <div class="value gray">25 days ago</div>
                </div>
              </div>
            </div>
            <div class="page__content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae nisi augue. Vestibulum rhoncus augue neque, a iaculis augue fermentum aliquam. Nullam nulla nunc, luctus finibus elementum sit amet, lobortis a nisl. Donec rhoncus tincidunt vulputate.
              </p>
              <p>
                Suspendisse a metus nec est gravida eleifend sed eget enim. Mauris semper, ligula at iaculis tristique, magna felis dapibus nunc, vel tristique sem arcu sed eros. Fusce mattis urna malesuada lorem congue molestie.
              </p>
              <div class="action-link__wrapper right">
                <a href="/" class="action-link">
                  <span class="action-link__icon icon icon--share"></span>
                  <span class="action-link__link">Share</a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section--post-content">
        <div class="main-container mdl-grid">
          <div class="listing listing--grid mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="row">
              <div class="mdl-grid">
                <div class="listing__header mdl-cell mdl-cell--12-col">
                  <h3 class="listing__block-title">Distributions:</h3>
                </div>
                <!-- Listing item 1 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--detail-container mdl-card">
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Weight:</div>
                        <div class="value bold">24MB</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">OS:</div>
                        <div class="value bold underline">Linux</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Licence:</div>
                        <div class="value bold underline">EUPL</div>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper center">
                        <a href="/" class="listing__action-link action-link">Details</a>
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 2 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--detail-container mdl-card">
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Weight:</div>
                        <div class="value bold">24MB</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">OS:</div>
                        <div class="value bold underline">Linux</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Licence:</div>
                        <div class="value bold underline">EUPL</div>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper center">
                        <a href="/" class="listing__action-link action-link">Details</a>
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 3 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--detail-container mdl-card">
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Weight:</div>
                        <div class="value bold">24MB</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">OS:</div>
                        <div class="value bold underline">Linux</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Licence:</div>
                        <div class="value bold underline">EUPL</div>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper center">
                        <a href="/" class="listing__action-link action-link">Details</a>
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 4 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--detail-container mdl-card">
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Weight:</div>
                        <div class="value bold">24MB</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">OS:</div>
                        <div class="value bold underline">Linux</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Licence:</div>
                        <div class="value bold underline">EUPL</div>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper center">
                        <a href="/" class="listing__action-link action-link">Details</a>
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 5 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--detail-container mdl-card">
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">Oasis UBL v2.1.tar.gz</a>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Weight:</div>
                        <div class="value bold">24MB</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">OS:</div>
                        <div class="value bold underline">Linux</div>
                      </div>
                      <div class="listing__field">
                        <div class="label gray">Licence:</div>
                        <div class="value bold underline">EUPL</div>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper center">
                        <a href="/" class="listing__action-link action-link">Details</a>
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 6 - Load more -->
                <div class="listing__item listing__item--load-more mdl-cell mdl-cell--4-col">
                  <a href="/" class="load-more">
                    <div class="load-more__wrapper">
                      <div class="load-more__icon icon icon--load"></div>
                      <div class="load-more__text">Load more</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="listing listing--grid mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="row">
              <div class="mdl-grid">
                <div class="listing__header mdl-cell mdl-cell--12-col">
                  <h3 class="listing__block-title">Documentation:</h3>
                </div>
                <!-- Listing item 1 - Full width with inline image -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
                  <div class="listing__card listing__card--inline-containers mdl-card">
                    <div class="listing__image listing__image--default">
                      <span class="icon icon--mime-pdf"></span>
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">User_manual.pdf</a>
                      </div>
                      <div class="listing__field">
                        <div class="details">
                          <div class="details__element">
                            <div class="value">2 MB</div>
                          </div>
                          <div class="details__element">
                            <div class="value">PDF</div>
                          </div>
                        </div>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat sagittis odio ac tempus.
                        </p>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper right">
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 2 - Full width with inline image -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
                  <div class="listing__card listing__card--inline-containers mdl-card">
                    <div class="listing__image listing__image--default">
                      <span class="icon icon--mime-doc"></span>
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <a href="/" class="listing__title">User_manual.doc</a>
                      </div>
                      <div class="listing__field">
                        <div class="details">
                          <div class="details__element">
                            <div class="value">2 MB</div>
                          </div>
                          <div class="details__element">
                            <div class="value">PDF</div>
                          </div>
                        </div>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat sagittis odio ac tempus. Nulla ultrices leo sit amet nisl rutrum, a interdum eros tempus.
                        </p>
                      </div>
                      <div class="listing__action-link__wrapper action-link__wrapper right">
                        <a href="/" class="listing__action-link action-link">Download</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="listing listing--grid listing--separated mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="row">
              <div class="mdl-grid">
                <div class="listing__header mdl-cell mdl-cell--12-col">
                  <h3 class="listing__block-title">Shared in</h3>
                </div>
                <!-- Listing item 1 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <img class="listing__avatar" src="../images/login-icon.png">
                      </div>
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.</p>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">154</span>
                          <span class="listing__icon icon icon--download"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">13</span>
                          <span class="listing__icon icon icon--user"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">22</span>
                          <span class="listing__icon icon icon--like"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 2 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <img class="listing__avatar" src="../images/login-icon.png">
                      </div>
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.</p>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">154</span>
                          <span class="listing__icon icon icon--download"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">13</span>
                          <span class="listing__icon icon icon--user"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">22</span>
                          <span class="listing__icon icon icon--like"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Listing item 3 - Default -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <img class="listing__avatar" src="../images/login-icon.png">
                      </div>
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.</p>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">154</span>
                          <span class="listing__icon icon icon--download"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">13</span>
                          <span class="listing__icon icon icon--user"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">22</span>
                          <span class="listing__icon icon icon--like"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>