<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--featured">
        <div class="featured">
          <div class="featured__wrapper">
            <div class="featured__logo">
              <img src="../images/featured-img.png">
            </div>
            <h1 class="featured__text">Exemplary solution</h1>
            <div class="featured__stats">
              <div class="stats__column">
                <div class="stats__wrapper">
                  <span class="stats__text">Downloads:</span>
                  <span class="stats__text bold">1234</span>
                </div>
              </div>
            </div>
            <button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download releases</button>

            {% include circle-menu.html %}

            <!-- Menu visible on tablet and mobile -->

            {% include featured-menu--solutions.html %}
            
          </div>
          <div class="featured__overlay"></div>
        </div>
      </div>
      <div class="section section--content">
        <div class="main-container mdl-grid">
          <div class="section section--sidebar-left mdl-cell mdl-cell--2-col">

            {% include sidebar-menu--solutions.html %}

          </div>
          <div class="section section--main mdl-cell mdl-cell--8-col">
            <div class="tabs--content-type">
              <div class="tab--content-type">
                <div class="tab__icon icon icon--news"></div>
                <div class="tab__text">
                  <div class="tab__text--upper">15</div>
                  <div class="tab__text--lower">News</div>
                </div>
              </div>
              <div class="tab--content-type is-active">
                <div class="tab__icon icon icon--event"></div>
                <div class="tab__text">
                  <div class="tab__text--upper">4</div>
                  <div class="tab__text--lower">Events</div>
                </div>
              </div>
              <div class="tab--content-type">
                <div class="tab__icon icon icon--business-case"></div>
                <div class="tab__text">
                  <div class="tab__text--upper">7</div>
                  <div class="tab__text--lower">business cases</div>
                </div>
              </div>
              <div class="tab--more">
                <div class="tab__text">More</div>
                <div class="tab__icon icon icon--arrow-down"></div>
              </div>
            </div>
            <div class="row">
              <div class="listing listing--grid mdl-grid">
                <!-- Listing item 1 - Event full-width -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--12-col">
                  <div class="listing__card listing__card--stats-container listing__card--inline-containers mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy<span class="icon icon--out"></span></h2>
                      </div>
                      <div class="listing__field">
                        <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta nulla in ipsum bibendum, quis aliquet dui pretium. Suspendisse sem ipsum, aliquet sit amet quam ut, sodales pulvinar massa. Cras rhoncus et nunc at porttitor. Sed dignissim porta leo vel volutpat. Pellentesque tincidunt urna ac venenatis hendrerit. Quisque id lacus urna. Aliquam ac lorem diam.</p>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">15/06/16</span>
                          <span class="listing__icon icon icon--event"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">BE</span>
                          <span class="listing__icon icon icon--location"></span>
                        </div>
                      </div>        
                    </div>
                  </div>
                </div>
                <!-- Listing item 2 - Event -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">15/06/16</span>
                          <span class="listing__icon icon icon--event"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">BE</span>
                          <span class="listing__icon icon icon--location"></span>
                        </div>
                      </div>        
                    </div>
                  </div>
                </div>
                <!-- Listing item 3 - Event -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">15/06/16</span>
                          <span class="listing__icon icon icon--event"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">BE</span>
                          <span class="listing__icon icon icon--location"></span>
                        </div>
                      </div>        
                    </div>
                  </div>
                </div>
                <!-- Listing item 4 - Event -->
                <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                  <div class="listing__card listing__card--stats-container mdl-card">
                    <div class="listing__image">
                      <img src="../images/tile-image.png">
                    </div>
                    <div class="listing__metadata">
                      <div class="listing__field">
                        <h2 class="listing__title">Optimy</h2>
                      </div>
                      <div class="listing__field listing__stats mdl-card__actions">
                        <div class="listing__stat">
                          <span class="listing__text">15/06/16</span>
                          <span class="listing__icon icon icon--event"></span>
                        </div>
                        <div class="listing__stat">
                          <span class="listing__text">BE</span>
                          <span class="listing__icon icon icon--location"></span>
                        </div>
                      </div>        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            
              {% include listing--related.html %}

            </div>
          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>