<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% include section--header.html %}

      <div class="section section--featured">
        <div class="featured">
          <div class="featured__wrapper">
            <div class="featured__logo">
              <img src="../images/featured-img.png">
            </div>
            <h1 class="featured__text">Exemplary solution</h1>
            <div class="featured__stats">
              <div class="stats__column">
                <div class="stats__wrapper">
                  <span class="stats__text">Downloads:</span>
                  <span class="stats__text bold">1234</span>
                </div>
              </div>
            </div>
            <button class="button--default button--blue-light mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Download releases</button>

            {% include circle-menu.html %}

            <!-- Menu visible on tablet and mobile -->
            <div class="featured__menu">
              <div id="featured__menu-button" class="featured__menu-button mdl-button mdl-js-button">
                <span class="icon icon--menu"></span>
              </div>
              <ul class="featured__menu-dropdown mdl-menu mdl-menu--bottom-left mdl-js-menu" for="featured__menu-button">
                <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-distribution">Distribution</a></li>
                <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-release">Release</a></li>
                <li class="featured__menu-item mdl-menu__item"><a class="featured__menu-link" href="/solution-download">Download</a></li>
              </ul>
            </div>
          </div>
          <div class="featured__overlay"></div>
        </div>
      </div>
      <div class="section section--content">
        <div class="main-container mdl-grid">
          <div class="section section--sidebar-left mdl-cell mdl-cell--2-col">
            <div class="sidebar-menu">
              <button id="sidebar-menu__button" class="sidebar-menu__button mdl-button mdl-js-button mdl-button--icon">
                <span class="icon icon--menu"></span>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="sidebar-menu__button">
                <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-distribution">Distribution</a></li>
                <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-release">Release</a></li>
                <li class="sidebar-menu__item mdl-menu__item"><a class="sidebar-menu__link" href="/solution-download">Download</a></li>
              </ul>
            </div>
          </div>
          <div class="section section--main mdl-cell mdl-cell--8-col">
            <div class="page__title">
              <h1>Download releases</h1>
            </div>
            <div class="page__content timeline">
              <div class="timeline__release is-latest mdl-grid">
                <div class="timeline__release-progression mdl-cell mdl-cell--3-col">
                  <div class="timeline__release-info">
                    <div class="release__info-element bold">v2.1</div>
                    <div class="release__info-element bold blue">Latest release</div>
                    <div class="release__info-element underline gray">dc9ee36</div>
                  </div>
                  <div class="timeline__release-bar"></div>
                </div>
                <div class="timeline__release-content mdl-cell mdl-cell--9-col">
                  <div class="timeline__meta">
                    <h2 class="timeline__release-title">Oasis UBL v2.1</h2>
                    <p class="timeline__release-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare est et aliquet suscipit.</p>
                  </div>
                  <div class="timeline__listing">
                    <h3 class="timeline__listing-block-title">Distributions:</h3>
                    <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                    <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                     <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                    <div class="action-link__wrapper right">
                      <a href="/" class="action-link">More...</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline__release mdl-grid">
                <div class="timeline__release-progression mdl-cell mdl-cell--3-col">
                  <div class="timeline__release-info">
                    <div class="release__info-element">v2.1</div>
                    <div class="release__info-element underline gray">dc9ee36</div>
                  </div>
                  <div class="timeline__release-bar"></div>
                  <a href="/" class="tab--more">
                    <div class="tab--more-wrapper">
                      <div class="tab__text">See more</div>
                      <div class="tab__icon icon icon--arrow-down"></div>
                    </div>
                  </a>
                </div>
                <div class="timeline__release-content mdl-cell mdl-cell--9-col">
                  <div class="timeline__meta">
                    <h2 class="timeline__release-title">Oasis UBL v2.1</h2>
                    <p class="timeline__release-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare est et aliquet suscipit.</p>
                  </div>
                  <div class="timeline__listing">
                    <h3 class="timeline__listing-block-title">Distributions:</h3>
                    <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                    <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                     <div class="timeline__listing-item">
                      <div class="timeline__listing-title">
                        <a href="/">Oasis_UBL_v2.1.tar.gz</a>
                      </div>
                      <div class="timeline__listing-details details">
                        <div class="details__element">
                          <div class="value gray">24 MB</div>
                        </div>
                        <div class="details__element">
                          <div class="value bold underline">Linux</div>
                        </div>
                        <div class="details__element">
                          <div class="label gray">licence:</div>
                          <div class="value bold underline">EUPL</div>
                        </div>
                      </div>
                      <div class="timeline__action-links action-link__wrapper right">
                        <a href="/" class="action-link">Details</a>
                        <a href="/" class="action-link">Download</a>
                      </div>
                    </div>
                    <div class="action-link__wrapper right">
                      <a href="/" class="action-link">More...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section--post-content">
        <div class="main-container mdl-grid">
          <div class="listing listing--grid listing--separated mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="mdl-grid">
              <div class="listing__header mdl-cell mdl-cell--12-col">
                <h3 class="listing__block-title">Shared in</h3>
              </div>
              <!-- Listing item 1 - Default -->
              <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                <div class="listing__card listing__card--stats-container mdl-card">
                  <div class="listing__image">
                    <img src="../images/tile-image.png">
                  </div>
                  <div class="listing__metadata">
                  <div class="listing__field">
                    <img class="listing__avatar" src="../images/login-icon.png">
                  </div>
                  <div class="listing__field">
                    <h2 class="listing__title">Optimy</h2>
                  </div>
                  <div class="listing__field">
                    <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenan convallis.</p>
                  </div>
                  <div class="listing__field listing__stats mdl-card__actions">
                    <div class="listing__stat">
                      <span class="listing__text">154</span>
                      <span class="listing__icon icon icon--download"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">13</span>
                      <span class="listing__icon icon icon--user"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">22</span>
                      <span class="listing__icon icon icon--like"></span>
                    </div>
                  </div>        
                  </div>
                </div>
              </div>
              <!-- Listing item 2 - Default -->
              <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                <div class="listing__card listing__card--stats-container mdl-card">
                  <div class="listing__image">
                    <img src="../images/tile-image.png">
                  </div>
                  <div class="listing__metadata">
                  <div class="listing__field">
                    <img class="listing__avatar" src="../images/login-icon.png">
                  </div>
                  <div class="listing__field">
                    <h2 class="listing__title">Optimy</h2>
                  </div>
                  <div class="listing__field">
                    <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenan convallis.</p>
                  </div>
                  <div class="listing__field listing__stats mdl-card__actions">
                    <div class="listing__stat">
                      <span class="listing__text">154</span>
                      <span class="listing__icon icon icon--download"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">13</span>
                      <span class="listing__icon icon icon--user"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">22</span>
                      <span class="listing__icon icon icon--like"></span>
                    </div>
                  </div>        
                  </div>
                </div>
              </div>
              <!-- Listing item 3 - Default -->
              <div class="listing__item listing__item--tile mdl-cell mdl-cell--4-col">
                <div class="listing__card listing__card--stats-container mdl-card">
                  <div class="listing__image">
                    <img src="../images/tile-image.png">
                  </div>
                  <div class="listing__metadata">
                  <div class="listing__field">
                    <img class="listing__avatar" src="../images/login-icon.png">
                  </div>
                  <div class="listing__field">
                    <h2 class="listing__title">Optimy</h2>
                  </div>
                  <div class="listing__field">
                    <p class="listing__teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenan convallis.</p>
                  </div>
                  <div class="listing__field listing__stats mdl-card__actions">
                    <div class="listing__stat">
                      <span class="listing__text">154</span>
                      <span class="listing__icon icon icon--download"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">13</span>
                      <span class="listing__icon icon icon--user"></span>
                    </div>
                    <div class="listing__stat">
                      <span class="listing__text">22</span>
                      <span class="listing__icon icon icon--like"></span>
                    </div>
                  </div>        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include section--footer.html %}

    {% include scripts.html %}

    </div>
  </body>
</html>