// Accordion
//
// Accordion component
// http://api.jqueryui.com/accordion/#theming

// Component
// --------------------------------------------------
// based on https://getuikit.com/docs/accordion

.ui-accordion {
  margin-bottom: 15px;

  .ui-accordion-header {
    background: #fff;
    border: 0;
    display: block;
    font-size: 18px;
    line-height: 1.4;
    color: #222;
    padding: 12px 0;
    overflow: hidden;

    &::before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-left: 10px;
        float: right;
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:focus, &:hover {
      border: 0;
      outline: 0;
    }
  }
  .ui-accordion-header-active {
    &::before {
      background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
    }
    a {
      color: #222;
    }
  }
  .ui-accordion-header-icon {
    display: none;
  }
  .ui-accordion-content {
    margin: 15px 0 0 0;
    padding: 0;
    border: 0;
  }
}
