// Chipfield
//
// Markup: todo.
//

// Component
// --------------------------------------------------
.mdl-chipfield {
  //cursor: text
  //padding-bottom: 0
  //margin-bottom: 20px
  //border-bottom: 1px solid lightgrey
  .inputs {
    margin-left: 5px;

    //float: left
    width: 100%;
    display: inline-block;

    //position: relative
 
  }

  .mdl-chip {
    position: absolute;
    top: 15px;
    left: 55px;

    @include z-index(navigation);

    //float: left
    //margin-top: 15px
    //margin-right: 5px
 
  }

  .mdl-textfield__input {
    // ~ same height as the chips + 2*4 for the padding
    //height: 38px
    //border-bottom: none
 
  }

  .mdl-textfield__label {
    top: 8px;
  }

  // hide stuff from MaterialTextField
  .mdl-textfield__label:after {
    display: none;
  }

  // search results
  .results {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0;
    margin-top: 1px;
  }

  .results li {
    cursor: pointer;
    padding: 10px 5px 10px 10px;

    &:hover, &.is-selected {
      background-color: rgb(238, 238, 238);
    }
  }
}
