// Image caption

// Component
// --------------------------------------------------
.image-caption {
  &.align-right {
    margin-left: 0;
    margin-right: 0;
    float: none;

    @include breakpoint(xs) {
      float: right;
      margin-left: 20px;
    }
  }

  &.align-left {
    margin-left: 0;
    margin-right: 0;
    float: none;

    @include breakpoint(xs) {
      float: left;
      margin-right: 20px;
    }
  }

  &.wysiwyg-one-third-width {
    max-width: 306px;
  }

  &.wysiwyg-half-width {
    max-width: 460px;
  }

  figcaption {
    font-size: $font-size-xsmall;
  }

  img {
    margin-bottom: $field-margin;
  }
}
