// Listing
//
// Listing may contains various types of tiles presented below.
// Size of the tile can be modified thanks to mdl-cell--X-col class, where X specifies the column size for the cell.
//
// Styleguide 2.9

// Component
// --------------------------------------------------
// .listing

// Elements
// --------------------------------------------------
.listing__item {
  position: relative;
  background: #fff;
  display: flex;
  align-items: stretch;
}

.paragraph--type--content-listing {
  .listing__item {
    border-width: 2px;
    border-style: solid;
    border-color: #e9edee;
  }
}

.listing__card {
  display: flex;
  align-items: stretch;
}

.listing__image {
  position: relative;
  overflow: hidden;
  height: 140px;
  margin: 10px 10px 0;
  text-align: center;
  background: $color-grey-white;

  @include z-index(highlight);

  img {
    max-width: 100%;
    max-height: 140px;
    height: auto;
    width: auto;

    @include centered;
  }
}

.listing__metadata {
  word-wrap: break-word;

  @include z-index(highlight + 1);
}

.listing__avatar {
  width: 60px;
  height: 60px;
  margin-top: -50px;
  padding: 5px;
  background-color: #fff;

  @include border-radius(50%);
}

.listing__metadata,
.listing__wrapper,
.listing__inner-tile {
  padding: 20px;
}

.listing__field {
  margin-bottom: $tile-margin;

  &.listing__tags {
    margin-bottom: 0;
  }
}

.listing__field--no-margin {
  margin-bottom: 0;
}

.listing__title,
.listing__title a {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  color: $color-blue-dark;
  word-wrap: break-word;
}

.listing__motivation {
  margin-bottom: $tile-margin;
  color: $color-blue-dark;

  @include breakpoint(lg-desktop) {
    margin-bottom: 0;
  }
}

.listing__subtitle {
  margin: 0;
}

.listing__teaser {
  font-size: 14px;
  font-weight: $font-weight-thin;
  margin: 0;
  color: $color-grey-medium;

  p {
    margin-bottom: 0;
  }
}

.listing__tags, .listing__tags a {
  font-size: $font-size-xsmall;
}

.listing__stats {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  text-align: right;
}

.listing__stat {
  display: inline-block;
  vertical-align: middle;
}

.listing__icon,
.listing__text {
  display: inline-block;
  vertical-align: middle;
}

.listing__icon {
  color: lighten($color-grey-medium, 10%);
  margin-left: 6px;

  @include icon-size(16px);
}

.listing__text {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-medium;
  position: relative;
  right: -4px;
  color: $color-blue-default;
}

.listing__header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.listing__corner {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  background-color: $color-orange;

  @include z-index(highlight + 1);
  @include border-radius(50%);

  .icon {
    color: #fff;

    @include icon-size(15px);
    @include centered;
  }
}

.listing__action-link__wrapper {
  padding: 0 20px;

  a {
    position: relative;

    @include z-index(highlight + 1);
  }
}

.listing__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include z-index(highlight);

  & > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing__facets {
  display: flex;
  padding-left: 0;

  li {
    list-style: none;
    padding-left: 0;
    margin-left: 1rem;
  }
}

// Modifiers
// --------------------------------------------------
.listing__image--default {
  background-color: $color-grey-lighter;

  .icon {
    color: $color-grey-medium;

    @include icon-size(50px);
    @include centered;
  }
}

.listing__card--inline-container {
  @include breakpoint(mobile) {
    flex-direction: row;
  }


  .listing__metadata {
    @include breakpoint(mobile) {
      flex: 0 1 100%;
      align-self: center;
    }
  }

  .listing__image,
  .listing__inner-tile {
    @include breakpoint(mobile) {
      flex: 0 0 220px;
      height: auto;
      min-height: 100%;
    }
  }

  .listing__inner-tile {
    .listing__field {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .listing__inner-tile--wider {
    @include breakpoint(mobile) {
      flex: 0 0 40%;
      padding-right: 0;
      -ms-flex-preferred-size: calc(40% - 20px);
    }
  }

  .listing__inner-tile--shifted {
    padding-bottom: 0;

    .listing__field {
      display: inline-block;
      margin-bottom: 0;

      &:first-child {
        margin-right: 15px;
      }
    }

    @include breakpoint(mobile) {
      padding-left: 41px;
      flex: 0 0 100%;
    }
  }

  .listing__metadata--licence {
    .listing__teaser {
      max-height: none;

      a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
      }
    }

    @include breakpoint(mobile) {
      flex: 0 0 60%;
      -ms-flex-preferred-size: calc(60% - 40px);
    }


    @include breakpoint(lg-desktop) {
      padding-bottom: 70px;
    }
  }
}

.listing__card--stats-container {
  .listing__metadata {
    padding-bottom: 40px;
  }
}

.listing__card--full-width {
  min-height: 140px !important;
}

.listing__fields--bottom-aligned {
  @include breakpoint(mobile) {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }


  .listing__field:last-of-type {
    margin-bottom: 0;
  }
}

.listing__title--link a {
  color: $color-orange;
}

.listing__card--corner-title {
  .listing__title {
    margin-right: 20px;
  }
}

.listing__subtitle:first-of-type {
  margin-top: $tile-margin-small;
}

// Set fixed height for fields.
.listing__card {
  @include breakpoint(xs) {
    min-height: 285px;
  }
}

.listing__text-container {
  @include breakpoint(xs) {
    overflow: hidden;
    margin-bottom: $tile-margin;

    .listing__field:last-child {
      margin-bottom: 0;
    }
  }
}

.listing__item--newsletter {
  .listing__title {
    color: #fff;
  }
}

.listing__text-container--news,
.listing__text-container--document {
  @include breakpoint(xs) {
    @include calc-space(7, $row-height, $tile-margin, 1, $row-height-small, $tile-margin-small);
  }
}

.listing__text-container--licence,
.listing__text-container--newsletter,
.listing__text-container--discussion {
  @include breakpoint(xs) {
    @include calc-space(8, $row-height, $tile-margin);
  }
}

.listing__title {
  @include number-rows(3, $row-height);
}

.listing__card--collection,
.listing__card--solution,
.listing__card--custom-page {
  .listing__title {
    @include number-rows(3, $row-height);
  }
}

.listing__card--event,
.listing__card--asset-distribution,
.listing__card--asset-release {
  .listing__title {
    @include number-rows(3, $row-height);
  }
}

.listing__author,
.listing__tags,
.listing__date,
.listing__status,
.listing__single {
  @include number-rows(1, $row-height);
}

.listing__subtitle {
  @include number-rows(1, $row-height-small, true);
}

.listing__teaser {
  @include number-rows(7, $row-height);
}

.listing__card--user {
  .listing__teaser {
    @include number-rows(1, $row-height);
  }
}

// Dependencies
// --------------------------------------------------
.listing__title {
  .icon {
    position: relative;
    top: 1px;
    margin-left: 6px;

    @include icon-size(16px);
  }

  a {
    position: relative;

    @include z-index(highlight + 1);
  }
}

.listing__single {
  .label,
  .value {
    font-size: $font-size-xsmall;
    vertical-align: middle;

    a {
      color: $color-base;
      position: relative;

      @include z-index(highlight + 1);
    }
  }

  .value {
    display: inline;
  }

  .label {
    width: 50px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
  }
}

.listing__licence {
  .value {
    a {
      color: $color-orange;
    }
  }
}

// Modifiers
// --------------------------------------------------
.listing__card {
  &.is-featured {
    background: $color-grey-light;
  }
}

// Listing
//
// Tile: default (1/2 width) pinned
//
// Markup: html/listing-item--default-col-6.html
//
// Styleguide 2.9.1

// Component
// --------------------------------------------------

// Tile: default (full width)
//
// Markup: html/listing-item--default-col-12.html
//
// Styleguide 2.9.2

// Component
// --------------------------------------------------

// Tile: news (1/2 width)
//
// Markup: html/listing-item--news-col-6.html
//
// Styleguide 2.9.3

// Component
// --------------------------------------------------

// Tile: news (full width)
//
// Markup: html/listing-item--news-col-12.html
//
// Styleguide 2.9.4

// Component
// --------------------------------------------------

// Tile: event (1/2 width)
//
// Markup: html/listing-item--event-col-6.html
//
// Styleguide 2.9.5

// Component
// --------------------------------------------------

// Tile: event (full width)
//
// Markup: html/listing-item--event-col-12.html
//
// Styleguide 2.9.6

// Component
// --------------------------------------------------

// Tile: distribution (1/2 width)
//
// Markup: html/listing-item--distribution-col-6.html
//
// Styleguide 2.9.7

// Component
// --------------------------------------------------

// Tile: distribution (full width)
//
// Markup: html/listing-item--distribution-col-12.html
//
// Styleguide 2.9.8

// Component
// --------------------------------------------------

// Tile: documentation
//
// Markup: html/listing-item--documentation.html
//
// Styleguide 2.9.9

// Component
// --------------------------------------------------

// Tile: newsletter
//
// Markup: html/listing-item--newsletter.html
//
// Styleguide 2.9.10

// Component
// --------------------------------------------------
.listing__item--newsletter {
  color: #fff;
  background-color: $color-blue-medium;

  h3 {
    margin-top: 0;
  }

  .mdl-card {
    background-color: $color-blue-medium;
  }

  .mdl-textfield__input {
    border-bottom-color: #fff;
  }

  .mdl-textfield__input,
  .mdl-textfield__label {
    opacity: 0.5;
    color: #fff;
  }

  .mdl-textfield--floating-label.is-focused,
  .mdl-textfield--floating-label.is-dirty {
    .mdl-textfield__input,
    .mdl-textfield__label {
      opacity: 1;
      color: #fff;
    }
  }

  .mdl-textfield__label:after {
    background-color: #fff !important;
  }
}

// Listing
//
// Tile: load more
//
// Markup: html/listing-item--load-more.html
//
// Styleguide 2.9.11

// Component
// --------------------------------------------------
.listing__item--load-more {
  position: relative;
  min-height: 200px;
  border: 5px solid #fff;
  background-color: $color-grey-bg;
  cursor: pointer;

  .load-more {
    text-decoration: none;
  }

  .load-more__icon {
    margin-bottom: 10px;

    @include icon-size(36px);
  }
}

// Listing
//
// Tile: video (1/2 width)
//
// Markup: html/listing-item--video-col-6.html
//
// Styleguide 2.9.12

// Component
// --------------------------------------------------

// Tile: video (full width)
//
// Markup: html/listing-item--video-col-12.html
//
// Styleguide 2.9.13

// Component
// --------------------------------------------------
