// Page
//

// Component
// --------------------------------------------------
// .page

// Elements
// --------------------------------------------------
.page__title,
.page__title-wrapper {
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.page__title-wrapper {
  @include breakpoint(tablet) {
    margin: 0 60px 40px 60px;
  }
}

.region--featured {
  .page__title-wrapper {
    margin: 20px 0;

    @include breakpoint(desktop) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .page__title-wrapper--create {
    margin-left: 50px;
  }
}

.section--content-middle {
  .page__title,
  .page__title-wrapper {
    @include breakpoint(tablet) {
      margin: 0 60px 40px 0;
    }
  }
}

.page__content {
  @media print {
    padding: 0;
    padding-bottom: 20px;
  }
}

.page__title,
.page__title-wrapper {
  .icon--plus {
    left: -50px;

    @include centered($horizontal: false, $vertical: true);
    @include icon-size(35px);
  }

  h1 {
    margin: 0;
    display: inline;
    vertical-align: middle;
  }

  .permalink {
    display: none;
    color: $color-base;
    font-size: $font-size-medium;
    vertical-align: middle;
  }

  &:hover {
    .permalink {
      display: inline;
    }
  }
}

.page__title-wrapper {
  @media print {
    margin: 0;
  }
}

// Modifiers
// --------------------------------------------------

// States
// --------------------------------------------------

// Dependencies
// --------------------------------------------------
.content-container--default {
  .page__content {
    @extend .white-box;
  }
}
// Webtools eTrans css overrides:
// https://europa.eu/webtools/webtools.etrans.css?utilities=true
// --------------------------------------------------
#block-webtools-etrans {
  clear: both;
  position: relative;
  width: 100%;
  z-index: 10;

  .wt-etrans,
  .wtEtransRequester {
    display: block;
  }

  #eTransButton {
    display: block;
    margin: 25px auto 30px auto;
    font-weight: $font-weight-medium;
    font-size: 13px;
    line-height: normal;
    height: auto;
    padding: 10px 20px;
    text-decoration: initial;
    letter-spacing: 0.5px;
    color: #fff;
    border-width: 3px solid $color-blue-default !important;
    background-color: $color-blue-default !important;
    background-image: none !important;
    white-space: nowrap;
    cursor: pointer;

    @include hidden-print;
    @include border-radius(4px);

    @include breakpoint(sm) {
      float: right;
      display: inline-block;
      margin: -70px 0 0 0;
      font-size: 13px;
      padding: 5px 10px;
    }
  }
}
