// Component
// --------------------------------------------------
.button--default
  font-weight: $font-weight-medium
  line-height: initial
  height: auto
  padding: 20px
  letter-spacing: 2px
  +border-radius(4px)

// Elements
// --------------------------------------------------

// Modifiers
// --------------------------------------------------
.button--blue
  color: #fff
  background-color: $color-blue-medium !important

.button--blue-light
  color: #fff
  background-color: $color-blue-lighter !important
  min-width: 200px

.button--full-width
  width: 100%

.button--margin
  margin-top: 15px

// Dependiencies
// --------------------------------------------------

// States
// --------------------------------------------------
