// Featured
//
// Featured component

// Component
// --------------------------------------------------
.featured
  width: $container-desktop
  height: 465px
  margin: 0 auto
  background: url('../images/featured-background.jpg') center no-repeat
  padding: 0


.featured__center
  position: relative
  height: 465px
  padding: 0
  margin: 0

.featured__left
  padding: 0
  margin: 0

// Elements
// --------------------------------------------------


// Modifiers
// --------------------------------------------------
