// Fieldset


// Component
// --------------------------------------------------
.fieldset
  margin-bottom: 25px
  &:last-of-type
    margin-bottom: 0

// Elements
// --------------------------------------------------
.fieldset__header
  margin-top: 0
  margin-bottom: 10px
  h3
    margin-top: 0
    margin-bottom: 0

.fieldset__field
  margin-bottom: $field-margin
  &:last-of-type
    margin-bottom: 0

.fieldset__field-label
  font-weight: $font-weight-medium
  margin-top: 0

.fieldset__field-item
  word-wrap: break-word

.fieldset__title
  margin-top: 0

.fieldset
  p:last-child
    margin-bottom: 0

.fieldset__show-more-link
  display: block
  margin-top: $field-margin
  .icon--arrow-down
    transition: transform 300ms
  &.is-expanded
    .icon--arrow-down
      transform: rotateZ(-180deg)

.fieldset__extra-items
  html.js &
    display: none

.fieldset__read-more
  display: inline

.fieldset--abstract-wrapper
  margin-bottom: 16px
  > p
    display: inline

// Modifiers
// --------------------------------------------------
.fieldset--separated
  margin-top: 40px

.fieldset--box
  margin: $form-margin -20px
  padding: 20px
  background: $color-grey-lighter
  +breakpoint(tablet)
    margin-right: -30px
    margin-left: -30px
    padding: 40px 30px
  +breakpoint(desktop)
    margin-right: -60px
    margin-left: -60px
    padding: 40px 60px
  &:last-child
    margin-bottom: -20px
    +breakpoint(tablet)
      margin-bottom: -40px

.fieldset__field--multiple
  .fieldset__field-item
    margin-bottom: $field-margin
    &:last-of-type
      margin-bottom: 0

.fieldset--border-bottom
  position: relative
  margin-bottom: 25px
  padding-bottom: 25px
  margin-right: -20px
  margin-left: -20px
  padding-right: 20px
  padding-left: 20px
  border-bottom: 2px solid $color-grey-light
  +breakpoint(sm)
    margin-right: -30px
    margin-left: -30px
    padding-right: 30px
    padding-left: 30px
  +breakpoint(md)
    margin-right: -60px
    margin-left: -60px
    padding-right: 60px
    padding-left: 60px

.fieldset--textarea
  overflow: hidden
  img
    margin-bottom: 16px

  img.align-left
    +breakpoint(md)
      margin-right: 20px
  img.align-right
    +breakpoint(md)
      margin-left: 20px

// Dependiencies
// --------------------------------------------------

// States
// --------------------------------------------------
