// Component
// --------------------------------------------------
// .form

// Elements
// --------------------------------------------------
.form__actions
  margin-top: 50px
  margin-right: 10px

.form__label
  font-size: 16px
  font-weight: 600
  color: $color-blue-dark
  margin-bottom: 15px

.form__label
  font-size: 16px
  font-weight: 600
  color: $color-blue-dark
  margin-bottom: 15px

.form__legend
  margin-bottom: 15px
  .form__label
    margin-bottom: 0

.form__field-container
  margin-bottom: 25px

.form__cell
  margin: 0
  +breakpoint(tablet)
    margin: 8px

.form__actions_inner
  display: inline-flex
  flex-wrap: wrap
  .button
    justify-content: space-between
    margin: 15px 15px 0 0

.form-item-persistent-login
  margin-bottom: 20px

.form-select
  background-color: #fff
  border: 1px #a0a1a2 solid
  font-size: 16px
  height: 35px
  max-width: 100%

  &[multiple="multiple"]
    height: auto
    min-height: 200px
    padding: 5px

    option
      padding: 2px 5px

.form-type-date
  display: inline-block

  input[type="date"],
  input[type="time"]
    border: none
    border-bottom: 1px #a0a1a2 solid
    font: inherit
    font-size: 16px

  .form__label
    margin-bottom: 0

// Modifiers
// --------------------------------------------------
.form__description--checkbox
  margin-left: 25px

// States
// --------------------------------------------------
