// Header
//
// Header logo component

// Component
// --------------------------------------------------
.header-logo
  width: 82px
  height: 30px
  background: url('../images/logo.png') center no-repeat
  vertical-align: middle

// Elements
// --------------------------------------------------
