// Header logo
//
// Header logo component
//
// Markup:
// html/header-logo.html
//
// Styleguide 3.1
//
// Component
// --------------------------------------------------
.header-logo
  width: 82px
  height: 30px
  background: url('../images/logo.png') center no-repeat
  vertical-align: middle

// Elements
// --------------------------------------------------


// Modifiers
// --------------------------------------------------
