// Listing
//
// Listing component

// Component
// --------------------------------------------------
.listing
  width: 100%

// Elements
// --------------------------------------------------
.listing__item
  min-width: 210px
  background: #fff

.listing__field
  padding-right: 20px
  padding-bottom: 10px
  padding-left: 20px

.listing__image
  position: relative
  top: 50%
  width: auto
  max-width: 100%
  height: auto
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.listing__avatar
  z-index: 10
  margin-top: -20px

.listing__title
  font-size: 16px
  font-weight: 600
  margin: 0
  color: $color-blue-dark

.listing__teaser
  font-size: 14px
  font-weight: 300
  margin: 0
  color: $color-grey-medium

.listing__stats
  position: absolute
  bottom: 0
  width: 100%
  text-align: right

.listing__stat
  display: inline-block
  vertical-align: middle

.listing__icon,
.listing__text
  display: inline-block
  vertical-align: middle

.listing__icon
  color: $color-grey-medium
  +icon-size(26px)

.listing__text
  font-size: $font-size-xsmall
  color: $color-blue-default
  font-weight: $font-weight-medium

// Modifiers
// --------------------------------------------------
.listing__field--image-wrapper
  position: relative
  height: 140px
  padding: 0
  text-align: center

.listing__card--stats-container
  padding-bottom: 40px
  height: 100%

.listing__field--top-padding
  padding-top: 10px

// Dependiencies
// --------------------------------------------------
