// Listing
//
// Listing component

// Component
// --------------------------------------------------
.listing
  width: 100%

// Elements
// --------------------------------------------------
.listing__item
  min-width: 210px
  background: #fff

.listing__field
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 10px

.listing__image
  max-width: 100%
  height: auto
  width: auto
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.listing__avatar
  margin-top: -20px
  z-index: 10

.listing__title
  color: $color-blue-dark
  font-size: 16px
  font-weight: 600
  margin: 0

.listing__teaser
  color: $color-grey-medium
  font-size: 14px
  font-weight: 300
  margin: 0

.listing__icons
  width: 100%
  text-align: right

.listing__icons-item
  display: inline-block
  padding-right: 25px
  color: $color-blue-dark
  font-size: 12px
  font-weight: 600

// Modifiers
// --------------------------------------------------
.listing__field--image-wrapper
  position: relative
  text-align: center
  height: 140px
  padding: 0

.listing__icons-item--solutions
  background: url('../images/solutions-tile-icon.png') right center no-repeat

.listing__icons-item--members
  background: url('../images/members-tile-icon.png') right center no-repeat

.listing__icons-item--like
  background: url('../images/like-tile-icon.png') right center no-repeat
