// Login menu
//
// Login menu component

// Component
// --------------------------------------------------
.login-menu
  display: inline-block

// Elements
// --------------------------------------------------
.login-menu__button

.login-menu__link
  color: #27456b
  text-decoration: none


// Modifiers
// --------------------------------------------------
