// Navigation bottom
//
// Navigation bottom component

// Component
// --------------------------------------------------
.navigation-bottom
  @extend .white-box

// Elements
// --------------------------------------------------
ul.navigation-bottom__list
  margin: 0
  padding: 0
  a
    color: $color-base
    text-decoration: none
    &:hover
      text-decoration: underline
    &.is-active
      font-weight: $font-weight-medium
      &:hover
        text-decoration: none

// Style table of contents navigation
.navigation-bottom__links
  ul
    padding: 0
    display: flex
    margin: $table-margin 0 0 0
  li
    list-style: none
    a
      color: $color-base
      text-decoration: none
      display: flex
      &:hover
        text-decoration: underline
      .icon
        line-height: $row-height-small
    &.prev,
    &.next
      width: 46%
    &.up
      width: 8%
      min-width: 40px
      a
        justify-content: center
    &.prev
      .icon
        padding-right: 5px
    &.next
      text-align: right
      a
        justify-content: flex-end
      .icon
        padding-left: 5px
  &--only-next
    ul
      justify-content: flex-end
  &--without-up
    ul
      justify-content: space-between

// Modifiers
// --------------------------------------------------
