// Search bar
//
// Search bar component

// Component
// --------------------------------------------------
.search-bar

// Elements
// --------------------------------------------------
.search-bar__icon
  background: url('../images/search-icon.png') no-repeat
  width: 23px
  height: 23px

// Modifiers
// --------------------------------------------------
