// Search bar
//
// Search bar component

// Component
// --------------------------------------------------
.search-bar
  position: absolute
  top: 0
  right: 100px
  width: 200px
  padding: 21px 0

// Elements
// --------------------------------------------------
.search-bar__icon
  background: url('../images/search-icon.png') center no-repeat
  width: 23px
  height: 23px


// Modifiers
// --------------------------------------------------
