// Sidebar menu
//
// Sidebar menu component

// Component
// --------------------------------------------------
.sidebar-menu
  width: 100%

// Elements
// --------------------------------------------------
.sidebar-menu__container
  width: 100%

.sidebar-menu__item
  display: block
  padding: 15px 15px 15px 20px
  color: $color-base
  border-left: 4px solid transparent
  text-decoration: none
  &:hover,
  &:active,
  &:focus
    background-color: #fff
    border-left-color: $color-orange
    font-weight: $font-weight-medium

.sidebar-menu
  .icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    +icon-size(60px)

// Modifiers
// --------------------------------------------------

// Dependiencies
// --------------------------------------------------
.section--sidebar-left
  .sidebar-menu
    +breakpoint(sm-mobile, tablet)
      display: none