// Tab
//
// Markup: html/tab.html
//
// Styleguide 2.11

// Component
// --------------------------------------------------
.tab
  background-color: transparent

// Elements
// --------------------------------------------------
.tab__container
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  margin-bottom: 40px
  +breakpoint(sm)
    flex-direction: row
    align-items: center
    margin-bottom: 30px
    border-bottom: none

// Modifiers
// --------------------------------------------------
.tab--horizontal
  border-bottom: 1px solid $color-grey-light
  background-color: $color-grey-light
  a
    text-decoration: none
    color: $color-base
    &:hover
      color: $color-orange

.tab--content-type
  position: relative
  padding: 15px 5px
  text-align: center
  text-decoration: none
  color: $color-base
  +breakpoint(xxs, xs)
    margin-bottom: 20px
    border-bottom: 1px solid darken($color-grey-light, 5%)
  .tab__content
    display: inline-flex
    width: 100%
  .tab__icon
    color: lighten($color-grey-medium, 10%)
    +icon-size(45px)
    +breakpoint(xxs, xs)
      +centered($horizontal: false, $vertical: true)
  .tab__text
    +breakpoint(xxs, xs)
      margin: 0 auto
    +breakpoint(sm)
      margin-left: 15px
      text-align: left
  .tab__text--upper
    font-size: 32px
    font-weight: $font-weight-bold
    line-height: 1
    display: block
    margin-bottom: 4px
  .tab__text--lower
    display: block

.tab--more
  position: relative
  display: inline-block
  width: 90px
  margin: 15px auto 15px auto
  padding-bottom: 10px
  cursor: pointer
  text-align: center
  text-decoration: none
  +breakpoint(sm)
    width: auto
    margin: 0
  .tab__text,
  .tab__icon
    display: inline-block
    vertical-align: middle
    color: $color-orange
  .tab__text
    font-size: $font-size-small
    font-weight: $font-weight-bold
    text-transform: uppercase
  .tab__icon
    margin-left: 4px
    +icon-size(14px)

// Dependiencies
// --------------------------------------------------
.timeline
  .tab--more
    position: absolute
    right: -40px
    bottom: -140px
    display: block
    width: 120px
    height: 40px
    padding: 0
  .tab--more-wrapper
    top: 50%

.section--featured-navy-blue
  .tab--content-type
    .tab__icon,
    .tab__text
      color: #fff
    .tab__text--upper
      font-weight: $font-weight
    &.is-active
      .tab__icon
        color: #fff

// States
// --------------------------------------------------
.tab--horizontal
  &.is-active
    font-weight: $font-weight-medium
    border-bottom: 1px solid #fff
    background-color: #fff

.tab--content-type
  &.is-active
    border-bottom: 2px solid $color-orange
    .tab__icon
      color: $color-base
    &:before
      position: absolute
      right: 0
      bottom: -6px
      left: 0
      display: block
      width: 0
      height: 0
      margin: 0 auto
      content: ''
      border-top: 4px solid $color-orange
      border-right: 4px solid transparent
      border-left: 4px solid transparent
