h1, h2, h3, span, a, div
  font-family: 'Open Sans', sans-serif
  line-height: normal

div
  box-sizing: border-box

.main-container
  max-width: $container-desktop
  width: 100%
  box-sizing: border-box
  padding: 0

.content-container
  max-width: 784px
  width: 100%

.content-container--form
  width: 100%
  .page__content
    padding: 0
    background-color: transparent
    width: 100%
    +breakpoint(tablet)
      padding: 0
    +breakpoint(desktop)
      padding: 0
