parameters:
    customRulesetUsed: true
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - ../testing_site/modules/sparql_entity_storage/vendor
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
