{#
/**
 * @file
 * Template to render a group of expansion panels.
 *
 * Available variables:
 * - title: optional title for the group.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('expansion-panel-groups') }}>{{ children }}</div>
