{#
/**
 * @file
 * Template to render a group of expansion panels.
 *
 * Available variables:
 * - title: optional title for the group.
 *
 * @ingroup themeable
 */
#}
<div class="multiExpand">
    {% if title -%}
    <h4>{{ title }}</h4>
    {% endif -%}
    {{ children }}
</div>
