// Component
// --------------------------------------------------
// .form

// Elements
// --------------------------------------------------
.form__actions {
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

.form__label {
  font-size: 16px;
  font-weight: 600;
  color: $color-blue-dark;
  margin-bottom: 15px;
}

.form__label {
  font-size: 16px;
  font-weight: 600;
  color: $color-blue-dark;
  margin-bottom: 15px;
}

.form__text {
  font-size: 16px;
}

.form__legend {
  margin-bottom: 15px;

  .form__label {
    margin-bottom: 0;
  }
}

.form__field-container {
  margin-bottom: 25px;
}

.form__cell {
  margin: 0;

  @include breakpoint(tablet) {
    margin: 8px;
  }
}

.form__actions_inner {
  @include inline-flex;
  @include flex-wrap(wrap);

  .button {
    @extend .button-inline;
  }
}

.form-item-persistent-login {
  margin-bottom: 20px;
}

.form-select {
  background-color: #fff;
  border: 1px #a0a1a2 solid;
  font-size: 16px;
  height: 35px;
  max-width: 100%;

  &[multiple="multiple"] {
    height: auto;
    min-height: 200px;
    padding: 5px;

    option {
      padding: 2px 5px;
    }
  }
}

.form-type-date {
  display: inline-block;

  input[type="date"],
  input[type="time"] {
    border: none;
    border-bottom: 1px #a0a1a2 solid;
    font: inherit;
    font-size: 16px;
  }

  .form__label {
    margin-bottom: 0;
  }
}

.form__content {
  @extend .white-box;
}

.form__description {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-thin;
  display: block;
  margin-top: 6px;
  color: lighten($color-grey-medium, 10%);

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
  }

  li {
    font-size: $font-size-xsmall;
    font-weight: $font-weight-thin;
    color: lighten($color-grey-medium, 10%);
  }
}

.form-wrapper {
  margin-bottom: $form-margin;

  &.form__actions-wrapper {
    margin-bottom: 0;
  }
}

// Asterisk is added for all required fields except collection and solution forms.
.form__with-asterisk {
  label.form-required {
    position: relative;

    &:before {
      position: absolute;
      right: -15px;
      content: "*";
      color: $color-error;
    }
  }
}

.form__with-asterisk .mdl-checkbox__label label.form-required {
  &:before {
    display: none;
  }

  &:after {
    display: inline-block;
    content: "*";
    color: #eb5b5c;
    margin: 0 0 0 5px;
  }
}

.form__exposed-form {
  select, .form-item {
    width: 100%;
  }

  .form__actions input {
    margin: 0;
  }
}

.form__margin-top {
  margin-top: $form-margin;
}

// Styling for members overview
.form__member-actions {
  .form-wrapper {
    .form-item,
    .form-actions {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
    }

    @include breakpoint(lg-desktop) {
      .form-item {
        width: 60%;
      }

      .form-actions {
        width: 35%;
        margin-left: $form-margin;
        margin-top: 0;

        input {
          margin: 0;
        }
      }
    }
  }
}

.form__add-more-wrapper {
  margin-top: $table-margin;

  .form-item,
  .button {
    display: inline-block;
    vertical-align: bottom;
  }

  .form-item {
    margin-right: 20px;
  }

  select {
    min-width: 200px;
    height: 50px;
  }
}

// Modifiers
// --------------------------------------------------
.form__description--checkbox {
  margin-left: 25px;
}

// Dependencies
// --------------------------------------------------
.form__actions {
  .dropbutton-wrapper {
    float: none;
    width: auto;
  }

  .dropbutton-multiple {
    @extend .button-inline;

    &.open {
      .dropbutton-arrow {
        top: 40%;
      }
    }

    .dropbutton-widget {
      padding-right: 0;
    }
  }

  .dropbutton-action {
    .button {
      margin: 0;
    }

    &.secondary-action {
      position: absolute;
      white-space: nowrap;

      .button {
        margin-top: 5px;
      }
    }
  }

  .dropbutton-widget {
    .dropbutton {
      overflow: visible;
    }
  }

  .dropbutton-toggle {
    .dropbutton-arrow {
      color: #fff;
    }
  }
}

.form__actions--no-margin {
  margin: 0;

  .button {
    margin: 0;
  }

  .form__actions_inner {
    width: 100%;
  }
}

.form-wrapper {
  .form__label {
    &.mdl-checkbox__label {
      margin-bottom: 0;
    }
  }
}

// Elements with validation errors
.form-item {
  input.error,
  textarea.error,
  select.error,
  textarea.error + .cke {
    border-width: 1px;
    border-color: $color-error;
  }
}

// My subscriptions form
.form__subscribe-types {
  margin-bottom: 0;

  .form-item {
    flex: 1 100%;
    margin-bottom: $tile-margin;

    select {
      width: 100%;
    }
  }

  .form__subscribe-save {
    flex: 1 100%;
    max-width: 100%;
  }

  @include breakpoint(mobile) {
    .form-item {
      flex: 1 50%;
    }
  }


  @include breakpoint(desktop) {
    .form__subscribe-save {
      flex: 1 100%;
    }
  }


  @include breakpoint(lg-desktop) {
    .form-item {
      flex: 0 1 auto;
      margin-bottom: 0;
      margin-right: $tile-margin;
    }

    .form__subscribe-save {
      flex: 0 1 auto;
      margin-left: auto;
    }
  }
}

.form__subscribe-types-inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .form__label {
    font-size: 14px;
    font-weight: normal;
  }
}

.form__subscribe-frequency {
  .form-item {
    margin-bottom: $field-margin;
  }

  @include breakpoint(lg-desktop) {
    display: flex;
    align-items: flex-end;

    .form-item {
      flex: 1 72%;
      max-width: 72%;
      margin-bottom: 0;
    }

    .form__subscribe-save {
      flex: 1 28%;
      max-width: 28%;
      text-align: right;
    }
  }
}

.form__subscribe-actions {
  text-align: right;
  margin-right: 0;

  .button {
    margin-right: 0;
  }
}

// Add red asterisk in a cas form.
.cas-account-link-form.form__with-asterisk {
  .mdl-textfield {
    label {
      position: relative;

      &:before {
        position: absolute;
        right: -15px;
        content: "*";
        color: $color-error;
      }
    }
  }
}

// States
// --------------------------------------------------
