// Header logo
//
// Markup: html/header-logo.html
//
// Joinup logo placed in the header
//
// Styleguide 2.7.1

// Component
// --------------------------------------------------
.header-logo {
  position: relative;
  height: 30px;

  @include z-index(highlight + 1);

  img {
    height: 100%;
  }
}

// Elements
// --------------------------------------------------

// Modifiers
// --------------------------------------------------
