// Licence
//

// Component
// --------------------------------------------------

// Elements
// --------------------------------------------------
.licence-filter__header {
  height: 45px;
  color: #fff;
  text-align: center;

  span {
    font-weight: $font-weight-medium;
    vertical-align: middle;
    line-height: 45px;
  }
}

.licence-filter__label {
  color: $color-blue-dark;
  font-weight: bold;
  margin: 0 0 10px;
}

.licence-filter__content {
  margin: 7px 0;
}

.licence__card {
  height: 100%;
}

.licence-filter__list {
  padding: 0;
  margin: 0;
  list-style: none;

  .licence-filter__item {
    font-size: $font-size-small;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 7px 14px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.is-active {
        padding: 7px 14px 6px;
        background: $color-grey-input;
        border-bottom: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

.licence-tile {
  display: block;
}

.licence-tile__title {
  div {
    display: inline;
  }

  .icon {
    margin-left: 0;
    margin-right: 5px;
    float: left;
  }

  @include breakpoint(mobile) {
    margin-left: -21px;
  }
}

.licence-tile__line {
  font-size: $font-size-xsmall;
  display: flex;
}

.licence-tile__label {
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
}

.licence-tile__label-wrapper {
  min-width: 100px;
  text-align: right;
}

.licence-tile__button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid $color-blue-warm;
  font-size: $font-size-small;
  border-radius: 5px;
  background: $color-blue-warm;
  color: #fff;

  &:hover {
    color: $color-base;
    background: transparent;
  }
}

.licence-tile__button--disabled {
  background: transparent;
  color: $color-base;
  border-color: $color-orange-warm;
  pointer-events: none;
}

.licence-tile__actions {
  @include z-index(highlight + 1);
  @include breakpoint(lg-desktop) {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.licence-tile__actions-item {
  display: inline-block;
  margin-right: $field-margin;
  margin-bottom: $field-margin;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @include breakpoint(lg-desktop) {
    margin-bottom: 0;
  }
}

.licence-counter {
  font-weight: bold;
  margin: 10px 0;

  @include breakpoint(desktop) {
    margin: 0 0 10px;
  }
}

.licence-search__label {
  color: $color-blue-dark;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.licence-search__input {
  display: inline-block;
  vertical-align: middle;

  @include breakpoint(mobile) {
    margin: 0 10px 5px 10px;
  }
}

.licence-search__form {
  .licence-search__reset {
    margin: 10px 0;
  }

  @include breakpoint(desktop) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Modifiers
// --------------------------------------------------
.licence-filter--can {
  .licence-filter__header {
    background-color: $color-green-warm;
  }

  .licence-filter__item {
    a {
      color: $color-green-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-green-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-green-warm;
  }
}

.licence-filter--must {
  .licence-filter__header {
    background-color: $color-beige-warm;
  }

  .licence-filter__item {
    a {
      color: $color-beige-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-beige-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-beige-warm;
  }
}

.licence-filter--cannot {
  .licence-filter__header {
    background-color: $color-red-warm;
  }

  .licence-filter__item {
    a {
      color: $color-red-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-red-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-red-warm;
  }
}

.licence-filter--compatible {
  .licence-filter__header {
    background-color: $color-blue-warm;
  }

  .licence-filter__item {
    a {
      color: $color-blue-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-blue-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-blue-warm;
  }
}

.licence-filter--law {
  .licence-filter__header {
    background-color: $color-grey-warm;
  }

  .licence-filter__item {
    a {
      color: $color-grey-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-grey-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-grey-warm;
  }
}

.licence-filter--support {
  .licence-filter__header {
    background-color: $color-orange-warm;
  }

  .licence-filter__item {
    a {
      color: $color-orange-warm;
    }
  }

  &.licence-comparer__sidebar-header {
    background-color: $color-orange-warm;
  }

  &.licence-comparer__sidebar-cell {
    color: $color-orange-warm;
  }
}

.licence-tile__line--can {
  .licence-tile__label {
    background-color: $color-green-warm;
  }

  .licence-tile__value {
    color: $color-green-warm;
  }
}

.licence-tile__line--must {
  .licence-tile__label {
    background-color: $color-beige-warm;
  }

  .licence-tile__value {
    color: $color-beige-warm;
  }
}

.licence-tile__line--cannot {
  .licence-tile__label {
    background-color: $color-red-warm;
  }

  .licence-tile__value {
    color: $color-red-warm;
  }
}

.licence-tile__line--compatible {
  .licence-tile__label {
    background-color: $color-blue-warm;
  }

  .licence-tile__value {
    color: $color-blue-warm;
  }
}

.licence-tile__line--law {
  .licence-tile__label {
    background-color: $color-grey-warm;
  }

  .licence-tile__value {
    color: $color-grey-warm;
  }
}

.licence-tile__line--support {
  .licence-tile__label {
    background-color: $color-orange-warm;
  }

  .licence-tile__value {
    color: $color-orange-warm;
  }
}

.licence-comparer {
  border-spacing: 0;
  width: 100%;

  @include breakpoint(tablet) {
    table-layout: fixed;
  }

  td {
    padding: 5px;
  }

  .icon {
    font-size: $font-size-xsmall;
    color: #fff;
    background: $color-orange;
    border-radius: 50%;
    padding: 5px;
  }

  &__wrapper {
    overflow-x: auto;
  }

  &__cell, &__header {
    background: #fff;
    padding: 5px;
    border: 5px solid $color-grey-bg;
    text-align: center;

    &:nth-child(2) {
      border-left-width: 10px;
    }
  }

  &__header {
    font-weight: $font-weight-bold;
    padding: 10px;
  }

  &__sidebar-header {
    color: #fff;
    padding: 5px;
    height: 45px;
    text-align: center;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
  }

  &__sidebar-cell {
    border: 5px solid #fff;
    background: #fff;
  }

  &__empty-cell {
    background: $color-grey-filler;
  }
}

// Dependiencies
// --------------------------------------------------
.licence-tile {
  .listing__card {
    min-height: 0;
  }
}

// States
// --------------------------------------------------
.licence-tile {
  &.is-hidden {
    display: none;
  }
}

.licence-search-submit {
  html.js & {
    display: none;
  }
}
