// Login menu
//
// Login menu component

// Component
// --------------------------------------------------
.login-menu {
  display: inline-block;
  width: auto;
}

// Elements
// --------------------------------------------------
.login-menu__button {
  float: right;
  clear: right;
  min-width: 0;
  height: 60px;
  padding: 0;

  img {
    border-radius: 20px;
    margin: 10px 0;
  }

  span {
    color: #fff;
    text-transform: none;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 5px;
  }

  &:hover {
    background: none;
  }
}

.login-menu__link {
  text-decoration: none;
  color: $color-blue-default;
  white-space: nowrap !important;
}

// Modifiers
// --------------------------------------------------
.login-menu__button--text {
  height: 40px;
}
