// Search bar
//
// Markup: html/search-bar.html
//
// .search-bar                   - Default
// .search-bar--white            - White colored
//
//

// Component
// --------------------------------------------------
// .search-bar

// Elements
// --------------------------------------------------
.search-bar__wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.search-bar__label {
  width: 40px;
  height: 40px;
}

.search-bar__icon {
  padding: 0;
  color: lighten($color-grey-medium, 10%);

  @include icon-size(25px);
  @include border-radius(50%);
  @include centered;
}

.search-bar__input {
  font-weight: $font-weight-thin;
  color: lighten($color-grey-medium, 10%);
  border-bottom-color: lighten($color-grey-medium, 10%);
  box-sizing: border-box;

  &::-webkit-input-placeholder {
    font-size: $font-size-base;
    font-weight: $font-weight-thin;
    font-style: italic;
    color: lighten($color-grey-medium, 10%);
  }

  &:-moz-placeholder {
    font-size: $font-size-base;
    font-weight: $font-weight-thin;
    font-style: italic;
    color: lighten($color-grey-medium, 10%);
  }

  &::-moz-placeholder {
    font-size: $font-size-base;
    font-weight: $font-weight-thin;
    font-style: italic;
    color: lighten($color-grey-medium, 10%);
  }

  &:-ms-input-placeholder {
    font-size: $font-size-base;
    font-weight: $font-weight-thin;
    font-style: italic;
    color: lighten($color-grey-medium, 10%);
  }
}

.search-bar__input-container {
  margin-left: 0;
  padding: 10px 0;
}

.search-bar__block {
  position: relative;
  max-width: 570px;
  margin: 20px auto;

  @include breakpoint(tablet) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

// Modifiers
// --------------------------------------------------
.search-bar--header {
  position: absolute;
  top: 0;
  right: 75px;
  overflow: hidden;
  height: 64px;
  padding: 0;

  @include z-index(highlight);
}

.search-bar--header-shifted {
  right: 120px;
}

@include breakpoint(desktop) {
  body:not(.search-page) {
    .search-bar--header-shifted {
      right: 232px;
    }
  }
}

.search-bar--section {
  width: 85%;
  margin-left: -40px;
  padding: 0;

  @include breakpoint(tablet) {
    width: 570px;
  }
}

// Dependencies
// --------------------------------------------------
.search-bar--header {
  .search-bar__label {
    position: relative;
    bottom: auto;
    display: inline-block;
    vertical-align: middle;
  }

  .search-bar__input {
    font-weight: $font-weight-thin;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
  }
}

.search-bar--section {
  .search-bar__label {
    top: 0;
    left: 0;
  }

  .search-bar__input {
    font-weight: $font-weight-thin;
    padding-left: 45px;
    border-bottom: 2px solid lighten($color-grey-medium, 10%);
  }
}

.search-bar--white {
  .search-bar__icon {
    color: #fff;
  }

  .search-bar__input {
    color: #fff;
    border-bottom-color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-moz-placeholder {
      color: #fff;
    }

    &::-moz-placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }
  }
}

.search-bar__block {
  .search-bar__button-container {
    position: relative;
    left: 20px;
    width: 25px;
    height: 25px;
    padding: 0;

    @include border-radius(50%);
    @include centered($horizontal: false, $vertical: true);
    @include breakpoint(tablet) {
      left: -10px;
    }
  }

  .search-bar__button {
    font-size: 0;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;

    @include z-index(navigation);
    @include centered;
  }

  label {
    display: none;
  }
}

#block-exposed-form-search-page {
  position: relative;
  max-width: 100%;
  margin: 0 8px;
  padding: 0;

  .inputs {
    margin: 0;

    .search-bar__input {
      width: calc(100% - 56px);
      border-bottom: 1px solid #888;
      color: #000000;
    }

    .search-bar__submit {
      position: absolute;
      right: 16px;
      bottom: 10px;
      border: none;
      box-shadow: none;
      font-family: inherit;
      text-indent: -999px;
      background: transparent;
      width: 40px;
      height: 40px;
      overflow: hidden;
      cursor: pointer;
      border-bottom: 1px solid #888;

      &::before {
        @extend .icon;
        content: "î˜ƒ";
        @include icon-size(25px);
        text-indent: 0;
        float: left;
      } 

      &:hover {
        background-color:#e1e4e4;;
      }

      &:focus {
        outline: none;
      }
    }
  }
  .mdl-chip {
    top: 13px;
    left: 0px;
  }
}
// States
// --------------------------------------------------
.search-bar--header {
  &.is-focused,
  &.is-dirty {
    width: calc(100% - 130px);
    background-color: $color-blue-default;

    @include z-index(navigation);
    @include breakpoint(tablet) {
      width: calc(100% - 200px);
    }

    .search-bar__input-container {
      width: calc(100% - 50px);
      max-width: 100%;
    }
  }
}

.search-bar--header-shifted {
  &.is-focused,
  &.is-dirty {
    width: calc(100% - 175px);

    @include breakpoint(tablet) {
      width: calc(100% - 280px);
    }

    .search-bar__input-container {
      width: calc(100% - 50px);
    }
  }
}

body:not(.search-page) {
  .search-bar--header-shifted {
    &.is-focused,
    &.is-dirty {
      @include breakpoint(desktop) {
        width: calc(100% - 392px);
      }
    }
  }
}
