// Tab
//
// Markup: html/tab.html
//
// Styleguide 2.11

// Component
// --------------------------------------------------
.tab {
  background-color: transparent;
}

// Elements
// --------------------------------------------------
.tab__container {
  margin-bottom: 40px;

  @include flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(space-around);
  @include breakpoint(sm) {
    margin-bottom: 30px;
    border-bottom: none;

    @include flex-direction(row);
    @include align-items(center);
  }
}

// Modifiers
// --------------------------------------------------
.tabs--horizontal {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-grey-light;

  @include justify-content(center);
  @include flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include breakpoint(sm) {
    border-bottom: none;

    @include flex-direction(row);
    @include align-items(center);
  }
}

.tab--horizontal {
  border-bottom: 1px solid $color-grey-light;
  background-color: $color-grey-light;

  a {
    text-decoration: none;
    color: $color-base;

    &:hover {
      color: $color-orange;
    }
  }
}

.tab--content-type {
  position: relative;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  color: $color-base;

  @include breakpoint(xxs, xs) {
    margin-bottom: 20px;
    border-bottom: 1px solid darken($color-grey-light, 5%);
  }


  .tab__content {
    @include inline-flex;

    width: 100%;
  }

  .tab__icon {
    color: lighten($color-grey-medium, 10%);

    @include icon-size(45px);
    @include breakpoint(xxs, xs) {
      @include centered($horizontal: false, $vertical: true);
    }
  }

  .tab__text {
    @include breakpoint(xxs, xs) {
      margin: 0 auto;
    }


    @include breakpoint(sm) {
      margin-left: 15px;
      text-align: left;
    }
  }

  .tab__text--upper {
    font-size: 32px;
    font-weight: $font-weight-bold;
    line-height: 1;
    display: block;
    margin-bottom: 4px;
  }

  .tab__text--lower {
    display: block;
  }
}

.tab--more {
  position: relative;
  display: inline-block;
  width: 90px;
  margin: 15px auto 15px auto;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  @include breakpoint(sm) {
    width: auto;
    margin: 0;
  }


  .tab__text,
  .tab__icon {
    display: inline-block;
    vertical-align: middle;
    color: $color-orange;
  }

  .tab__text {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .tab__icon {
    margin-left: 4px;

    @include icon-size(14px);
  }
}

// Dependencies
// --------------------------------------------------
.timeline {
  .tab--more {
    position: absolute;
    right: -40px;
    bottom: -140px;
    display: block;
    width: 120px;
    height: 40px;
    padding: 0;
  }

  .tab--more-wrapper {
    top: 50%;
  }
}

.section--featured-navy-blue {
  .tab--content-type {
    .tab__icon,
    .tab__text {
      color: #fff;
    }

    .tab__text--upper {
      font-weight: $font-weight;
    }

    &.is-active {
      .tab__icon {
        color: #fff;
      }
    }
  }
}

// States
// --------------------------------------------------
.tab--horizontal {
  &.is-active {
    font-weight: $font-weight-medium;
    border-bottom: 1px solid #fff;
    background-color: #fff;
  }
}

.tab--content-type {
  &.is-active {
    border-bottom: 2px solid $color-orange;

    .tab__icon {
      color: $color-base;
    }

    &:before {
      position: absolute;
      right: 0;
      bottom: -6px;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      content: "";
      border-top: 4px solid $color-orange;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
}
// EIF recommendations category tabs
// --------------------------------------------------
#block-category {
  ul.item-list__links {
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    list-style: none;
    padding: 0;
    margin: -13px -4px 14px 0;

    li {
      flex-grow: 1;
      text-align: center;
      padding-right: 4px;

      a {
        display: block;
        width: 100%;
        padding: 15px 0;
        margin-top: 4px;
        background: #fff;
        text-decoration: none;
        color: $color-base;
        @include breakpoint(tablet) {
          font-size: $font-size-base;
        }

        &:hover,
        &.is-active {
          background: #f4f6f7;
          border-top: solid 4px #ee8917;
          margin-top: 0;
        }
      }

      .facet-item__status {
        display: none;
      }
    }
  }
}
