// vertical tabs
//
// vertical tabs component

// Component
// --------------------------------------------------
.vertical-tabs {}

// Elements
// --------------------------------------------------
.vertical-tabs__wrapper {
  width: 100%;
}

.vertical-tabs__pane {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 0 !important;

  @include breakpoint(tablet) {
    padding: 40px 30px;
  }


  @include breakpoint(desktop) {
    padding: 40px 60px;
  }
}

.vertical-tabs__pane > summary {
  display: none;
}

.vertical-tabs__details-summary {
  display: none;
}

.vertical-tabs__menu {
  padding-left: 0;
}

.vertical-tabs__menu-item {
  display: block;
  border-bottom: 1px solid $color-grey-light;
  background-color: $color-grey-lighter;

  a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
  }
}

.vertical-tabs__menu-item-title {
  color: $color-base;
  display: block;
  font-weight: $font-weight;
}

.vertical-tabs__menu-item-summary {
  font-size: $font-size-small - 1px;
  font-weight: $font-weight-thin;
  margin-top: 4px;
  color: $color-grey-medium;
  display: block;
}

.vertical-tabs__actions {
  .button {
    margin-bottom: 5px;
  }
}

.vertical-tabs__menu-item--mobile {
  display: block;

  @include breakpoint(mobile) {
    display: none;
  }
}

// Modifiers
// --------------------------------------------------

// States
// --------------------------------------------------
.vertical-tabs__menu-item.is-selected {
  background-color: #fff;

  .vertical-tabs__menu-item-title {
    font-weight: $font-weight-medium;
  }
}
